/*!
 *  ***************************************************
 *  boilerSASS
 *  ***************************************************
 *  Simple SASS Boilerplate based on HTML5 Boilerplate
 *  ***************************************************
*/
/*!  
 *  ***************************************************
 *  boilerSASS
 *  ***************************************************
 *  Simple SASS Boilerplate based on HTML5 Boilerplate 
 *  ***************************************************

 *  FONTS
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i");
@font-face {
  font-family: 'ElegantIcons';
  src: url("../fonts/ElegantIcons.eot");
  src: url("../fonts/ElegantIcons.eot?#iefix") format("embedded-opentype"), url("../fonts/ElegantIcons.woff") format("woff"), url("../fonts/ElegantIcons.ttf") format("truetype"), url("../fonts/ElegantIcons.svg#ElegantIcons") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'ElegantIcons';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="your-class-prefix"] {
*/
.arrow_up, .arrow_down, .arrow_left, .arrow_right, .arrow_left-up, .arrow_right-up, .arrow_right-down, .arrow_left-down, .arrow-up-down, .arrow_up-down_alt, .arrow_left-right_alt, .arrow_left-right, .arrow_expand_alt2, .arrow_expand_alt, .arrow_condense, .arrow_expand, .arrow_move, .arrow_carrot-up, .arrow_carrot-down, .arrow_carrot-left, .arrow_carrot-right, .arrow_carrot-2up, .arrow_carrot-2down, .arrow_carrot-2left, .arrow_carrot-2right, .arrow_carrot-up_alt2, .arrow_carrot-down_alt2, .arrow_carrot-left_alt2, .arrow_carrot-right_alt2, .arrow_carrot-2up_alt2, .arrow_carrot-2down_alt2, .arrow_carrot-2left_alt2, .arrow_carrot-2right_alt2, .arrow_triangle-up, .arrow_triangle-down, .arrow_triangle-left, .arrow_triangle-right, .arrow_triangle-up_alt2, .arrow_triangle-down_alt2, .arrow_triangle-left_alt2, .arrow_triangle-right_alt2, .arrow_back, .icon_minus-06, .icon_plus, .icon_close, .icon_check, .icon_minus_alt2, .icon_plus_alt2, .icon_close_alt2, .icon_check_alt2, .icon_zoom-out_alt, .icon_zoom-in_alt, .icon_search, .icon_box-empty, .icon_box-selected, .icon_minus-box, .icon_plus-box, .icon_box-checked, .icon_circle-empty, .icon_circle-slelected, .icon_stop_alt2, .icon_stop, .icon_pause_alt2, .icon_pause, .icon_menu, .icon_menu-square_alt2, .icon_menu-circle_alt2, .icon_ul, .icon_ol, .icon_adjust-horiz, .icon_adjust-vert, .icon_document_alt, .icon_documents_alt, .icon_pencil, .icon_pencil-edit_alt, .icon_pencil-edit, .icon_folder-alt, .icon_folder-open_alt, .icon_folder-add_alt, .icon_info_alt, .icon_error-oct_alt, .icon_error-circle_alt, .icon_error-triangle_alt, .icon_question_alt2, .icon_question, .icon_comment_alt, .icon_chat_alt, .icon_vol-mute_alt, .icon_volume-low_alt, .icon_volume-high_alt, .icon_quotations, .icon_quotations_alt2, .icon_clock_alt, .icon_lock_alt, .icon_lock-open_alt, .icon_key_alt, .icon_cloud_alt, .icon_cloud-upload_alt, .icon_cloud-download_alt, .icon_image, .icon_images, .icon_lightbulb_alt, .icon_gift_alt, .icon_house_alt, .icon_genius, .icon_mobile, .icon_tablet, .icon_laptop, .icon_desktop, .icon_camera_alt, .icon_mail_alt, .icon_cone_alt, .icon_ribbon_alt, .icon_bag_alt, .icon_creditcard, .icon_cart_alt, .icon_paperclip, .icon_tag_alt, .icon_tags_alt, .icon_trash_alt, .icon_cursor_alt, .icon_mic_alt, .icon_compass_alt, .icon_pin_alt, .icon_pushpin_alt, .icon_map_alt, .icon_drawer_alt, .icon_toolbox_alt, .icon_book_alt, .icon_calendar, .icon_film, .icon_table, .icon_contacts_alt, .icon_headphones, .icon_lifesaver, .icon_piechart, .icon_refresh, .icon_link_alt, .icon_link, .icon_loading, .icon_blocked, .icon_archive_alt, .icon_heart_alt, .icon_star_alt, .icon_star-half_alt, .icon_star, .icon_star-half, .icon_tools, .icon_tool, .icon_cog, .icon_cogs, .arrow_up_alt, .arrow_down_alt, .arrow_left_alt, .arrow_right_alt, .arrow_left-up_alt, .arrow_right-up_alt, .arrow_right-down_alt, .arrow_left-down_alt, .arrow_condense_alt, .arrow_expand_alt3, .arrow_carrot_up_alt, .arrow_carrot-down_alt, .arrow_carrot-left_alt, .arrow_carrot-right_alt, .arrow_carrot-2up_alt, .arrow_carrot-2dwnn_alt, .arrow_carrot-2left_alt, .arrow_carrot-2right_alt, .arrow_triangle-up_alt, .arrow_triangle-down_alt, .arrow_triangle-left_alt, .arrow_triangle-right_alt, .icon_minus_alt, .icon_plus_alt, .icon_close_alt, .icon_check_alt, .icon_zoom-out, .icon_zoom-in, .icon_stop_alt, .icon_menu-square_alt, .icon_menu-circle_alt, .icon_document, .icon_documents, .icon_pencil_alt, .icon_folder, .icon_folder-open, .icon_folder-add, .icon_folder_upload, .icon_folder_download, .icon_info, .icon_error-circle, .icon_error-oct, .icon_error-triangle, .icon_question_alt, .icon_comment, .icon_chat, .icon_vol-mute, .icon_volume-low, .icon_volume-high, .icon_quotations_alt, .icon_clock, .icon_lock, .icon_lock-open, .icon_key, .icon_cloud, .icon_cloud-upload, .icon_cloud-download, .icon_lightbulb, .icon_gift, .icon_house, .icon_camera, .icon_mail, .icon_cone, .icon_ribbon, .icon_bag, .icon_cart, .icon_tag, .icon_tags, .icon_trash, .icon_cursor, .icon_mic, .icon_compass, .icon_pin, .icon_pushpin, .icon_map, .icon_drawer, .icon_toolbox, .icon_book, .icon_contacts, .icon_archive, .icon_heart, .icon_profile, .icon_group, .icon_grid-2x2, .icon_grid-3x3, .icon_music, .icon_pause_alt, .icon_phone, .icon_upload, .icon_download, .social_facebook, .social_twitter, .social_pinterest, .social_googleplus, .social_tumblr, .social_tumbleupon, .social_wordpress, .social_instagram, .social_dribbble, .social_vimeo, .social_linkedin, .social_rss, .social_deviantart, .social_share, .social_myspace, .social_skype, .social_youtube, .social_picassa, .social_googledrive, .social_flickr, .social_blogger, .social_spotify, .social_delicious, .social_facebook_circle, .social_twitter_circle, .social_pinterest_circle, .social_googleplus_circle, .social_tumblr_circle, .social_stumbleupon_circle, .social_wordpress_circle, .social_instagram_circle, .social_dribbble_circle, .social_vimeo_circle, .social_linkedin_circle, .social_rss_circle, .social_deviantart_circle, .social_share_circle, .social_myspace_circle, .social_skype_circle, .social_youtube_circle, .social_picassa_circle, .social_googledrive_alt2, .social_flickr_circle, .social_blogger_circle, .social_spotify_circle, .social_delicious_circle, .social_facebook_square, .social_twitter_square, .social_pinterest_square, .social_googleplus_square, .social_tumblr_square, .social_stumbleupon_square, .social_wordpress_square, .social_instagram_square, .social_dribbble_square, .social_vimeo_square, .social_linkedin_square, .social_rss_square, .social_deviantart_square, .social_share_square, .social_myspace_square, .social_skype_square, .social_youtube_square, .social_picassa_square, .social_googledrive_square, .social_flickr_square, .social_blogger_square, .social_spotify_square, .social_delicious_square, .icon_printer, .icon_calulator, .icon_building, .icon_floppy, .icon_drive, .icon_search-2, .icon_id, .icon_id-2, .icon_puzzle, .icon_like, .icon_dislike, .icon_mug, .icon_currency, .icon_wallet, .icon_pens, .icon_easel, .icon_flowchart, .icon_datareport, .icon_briefcase, .icon_shield, .icon_percent, .icon_globe, .icon_globe-2, .icon_target, .icon_hourglass, .icon_balance, .icon_rook, .icon_printer-alt, .icon_calculator_alt, .icon_building_alt, .icon_floppy_alt, .icon_drive_alt, .icon_search_alt, .icon_id_alt, .icon_id-2_alt, .icon_puzzle_alt, .icon_like_alt, .icon_dislike_alt, .icon_mug_alt, .icon_currency_alt, .icon_wallet_alt, .icon_pens_alt, .icon_easel_alt, .icon_flowchart_alt, .icon_datareport_alt, .icon_briefcase_alt, .icon_shield_alt, .icon_percent_alt, .icon_globe_alt, .icon_clipboard {
  font-family: 'ElegantIcons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.arrow_up:before {
  content: "\21";
}

.arrow_down:before {
  content: "\22";
}

.arrow_left:before {
  content: "\23";
}

.arrow_right:before {
  content: "\24";
}

.arrow_left-up:before {
  content: "\25";
}

.arrow_right-up:before {
  content: "\26";
}

.arrow_right-down:before {
  content: "\27";
}

.arrow_left-down:before {
  content: "\28";
}

.arrow-up-down:before {
  content: "\29";
}

.arrow_up-down_alt:before {
  content: "\2a";
}

.arrow_left-right_alt:before {
  content: "\2b";
}

.arrow_left-right:before {
  content: "\2c";
}

.arrow_expand_alt2:before {
  content: "\2d";
}

.arrow_expand_alt:before {
  content: "\2e";
}

.arrow_condense:before {
  content: "\2f";
}

.arrow_expand:before {
  content: "\30";
}

.arrow_move:before {
  content: "\31";
}

.arrow_carrot-up:before {
  content: "\32";
}

.arrow_carrot-down:before {
  content: "\33";
}

.arrow_carrot-left:before {
  content: "\34";
}

.arrow_carrot-right:before {
  content: "\35";
}

.arrow_carrot-2up:before {
  content: "\36";
}

.arrow_carrot-2down:before {
  content: "\37";
}

.arrow_carrot-2left:before {
  content: "\38";
}

.arrow_carrot-2right:before {
  content: "\39";
}

.arrow_carrot-up_alt2:before {
  content: "\3a";
}

.arrow_carrot-down_alt2:before {
  content: "\3b";
}

.arrow_carrot-left_alt2:before {
  content: "\3c";
}

.arrow_carrot-right_alt2:before {
  content: "\3d";
}

.arrow_carrot-2up_alt2:before {
  content: "\3e";
}

.arrow_carrot-2down_alt2:before {
  content: "\3f";
}

.arrow_carrot-2left_alt2:before {
  content: "\40";
}

.arrow_carrot-2right_alt2:before {
  content: "\41";
}

.arrow_triangle-up:before {
  content: "\42";
}

.arrow_triangle-down:before {
  content: "\43";
}

.arrow_triangle-left:before {
  content: "\44";
}

.arrow_triangle-right:before {
  content: "\45";
}

.arrow_triangle-up_alt2:before {
  content: "\46";
}

.arrow_triangle-down_alt2:before {
  content: "\47";
}

.arrow_triangle-left_alt2:before {
  content: "\48";
}

.arrow_triangle-right_alt2:before {
  content: "\49";
}

.arrow_back:before {
  content: "\4a";
}

.icon_minus-06:before {
  content: "\4b";
}

.icon_plus:before {
  content: "\4c";
}

.icon_close:before {
  content: "\4d";
}

.icon_check:before {
  content: "\4e";
}

.icon_minus_alt2:before {
  content: "\4f";
}

.icon_plus_alt2:before {
  content: "\50";
}

.icon_close_alt2:before {
  content: "\51";
}

.icon_check_alt2:before {
  content: "\52";
}

.icon_zoom-out_alt:before {
  content: "\53";
}

.icon_zoom-in_alt:before {
  content: "\54";
}

.icon_search:before {
  content: "\55";
}

.icon_box-empty:before {
  content: "\56";
}

.icon_box-selected:before {
  content: "\57";
}

.icon_minus-box:before {
  content: "\58";
}

.icon_plus-box:before {
  content: "\59";
}

.icon_box-checked:before {
  content: "\5a";
}

.icon_circle-empty:before {
  content: "\5b";
}

.icon_circle-slelected:before {
  content: "\5c";
}

.icon_stop_alt2:before {
  content: "\5d";
}

.icon_stop:before {
  content: "\5e";
}

.icon_pause_alt2:before {
  content: "\5f";
}

.icon_pause:before {
  content: "\60";
}

.icon_menu:before {
  content: "\61";
}

.icon_menu-square_alt2:before {
  content: "\62";
}

.icon_menu-circle_alt2:before {
  content: "\63";
}

.icon_ul:before {
  content: "\64";
}

.icon_ol:before {
  content: "\65";
}

.icon_adjust-horiz:before {
  content: "\66";
}

.icon_adjust-vert:before {
  content: "\67";
}

.icon_document_alt:before {
  content: "\68";
}

.icon_documents_alt:before {
  content: "\69";
}

.icon_pencil:before {
  content: "\6a";
}

.icon_pencil-edit_alt:before {
  content: "\6b";
}

.icon_pencil-edit:before {
  content: "\6c";
}

.icon_folder-alt:before {
  content: "\6d";
}

.icon_folder-open_alt:before {
  content: "\6e";
}

.icon_folder-add_alt:before {
  content: "\6f";
}

.icon_info_alt:before {
  content: "\70";
}

.icon_error-oct_alt:before {
  content: "\71";
}

.icon_error-circle_alt:before {
  content: "\72";
}

.icon_error-triangle_alt:before {
  content: "\73";
}

.icon_question_alt2:before {
  content: "\74";
}

.icon_question:before {
  content: "\75";
}

.icon_comment_alt:before {
  content: "\76";
}

.icon_chat_alt:before {
  content: "\77";
}

.icon_vol-mute_alt:before {
  content: "\78";
}

.icon_volume-low_alt:before {
  content: "\79";
}

.icon_volume-high_alt:before {
  content: "\7a";
}

.icon_quotations:before {
  content: "\7b";
}

.icon_quotations_alt2:before {
  content: "\7c";
}

.icon_clock_alt:before {
  content: "\7d";
}

.icon_lock_alt:before {
  content: "\7e";
}

.icon_lock-open_alt:before {
  content: "\e000";
}

.icon_key_alt:before {
  content: "\e001";
}

.icon_cloud_alt:before {
  content: "\e002";
}

.icon_cloud-upload_alt:before {
  content: "\e003";
}

.icon_cloud-download_alt:before {
  content: "\e004";
}

.icon_image:before {
  content: "\e005";
}

.icon_images:before {
  content: "\e006";
}

.icon_lightbulb_alt:before {
  content: "\e007";
}

.icon_gift_alt:before {
  content: "\e008";
}

.icon_house_alt:before {
  content: "\e009";
}

.icon_genius:before {
  content: "\e00a";
}

.icon_mobile:before {
  content: "\e00b";
}

.icon_tablet:before {
  content: "\e00c";
}

.icon_laptop:before {
  content: "\e00d";
}

.icon_desktop:before {
  content: "\e00e";
}

.icon_camera_alt:before {
  content: "\e00f";
}

.icon_mail_alt:before {
  content: "\e010";
}

.icon_cone_alt:before {
  content: "\e011";
}

.icon_ribbon_alt:before {
  content: "\e012";
}

.icon_bag_alt:before {
  content: "\e013";
}

.icon_creditcard:before {
  content: "\e014";
}

.icon_cart_alt:before {
  content: "\e015";
}

.icon_paperclip:before {
  content: "\e016";
}

.icon_tag_alt:before {
  content: "\e017";
}

.icon_tags_alt:before {
  content: "\e018";
}

.icon_trash_alt:before {
  content: "\e019";
}

.icon_cursor_alt:before {
  content: "\e01a";
}

.icon_mic_alt:before {
  content: "\e01b";
}

.icon_compass_alt:before {
  content: "\e01c";
}

.icon_pin_alt:before {
  content: "\e01d";
}

.icon_pushpin_alt:before {
  content: "\e01e";
}

.icon_map_alt:before {
  content: "\e01f";
}

.icon_drawer_alt:before {
  content: "\e020";
}

.icon_toolbox_alt:before {
  content: "\e021";
}

.icon_book_alt:before {
  content: "\e022";
}

.icon_calendar:before {
  content: "\e023";
}

.icon_film:before {
  content: "\e024";
}

.icon_table:before {
  content: "\e025";
}

.icon_contacts_alt:before {
  content: "\e026";
}

.icon_headphones:before {
  content: "\e027";
}

.icon_lifesaver:before {
  content: "\e028";
}

.icon_piechart:before {
  content: "\e029";
}

.icon_refresh:before {
  content: "\e02a";
}

.icon_link_alt:before {
  content: "\e02b";
}

.icon_link:before {
  content: "\e02c";
}

.icon_loading:before {
  content: "\e02d";
}

.icon_blocked:before {
  content: "\e02e";
}

.icon_archive_alt:before {
  content: "\e02f";
}

.icon_heart_alt:before {
  content: "\e030";
}

.icon_star_alt:before {
  content: "\e031";
}

.icon_star-half_alt:before {
  content: "\e032";
}

.icon_star:before {
  content: "\e033";
}

.icon_star-half:before {
  content: "\e034";
}

.icon_tools:before {
  content: "\e035";
}

.icon_tool:before {
  content: "\e036";
}

.icon_cog:before {
  content: "\e037";
}

.icon_cogs:before {
  content: "\e038";
}

.arrow_up_alt:before {
  content: "\e039";
}

.arrow_down_alt:before {
  content: "\e03a";
}

.arrow_left_alt:before {
  content: "\e03b";
}

.arrow_right_alt:before {
  content: "\e03c";
}

.arrow_left-up_alt:before {
  content: "\e03d";
}

.arrow_right-up_alt:before {
  content: "\e03e";
}

.arrow_right-down_alt:before {
  content: "\e03f";
}

.arrow_left-down_alt:before {
  content: "\e040";
}

.arrow_condense_alt:before {
  content: "\e041";
}

.arrow_expand_alt3:before {
  content: "\e042";
}

.arrow_carrot_up_alt:before {
  content: "\e043";
}

.arrow_carrot-down_alt:before {
  content: "\e044";
}

.arrow_carrot-left_alt:before {
  content: "\e045";
}

.arrow_carrot-right_alt:before {
  content: "\e046";
}

.arrow_carrot-2up_alt:before {
  content: "\e047";
}

.arrow_carrot-2dwnn_alt:before {
  content: "\e048";
}

.arrow_carrot-2left_alt:before {
  content: "\e049";
}

.arrow_carrot-2right_alt:before {
  content: "\e04a";
}

.arrow_triangle-up_alt:before {
  content: "\e04b";
}

.arrow_triangle-down_alt:before {
  content: "\e04c";
}

.arrow_triangle-left_alt:before {
  content: "\e04d";
}

.arrow_triangle-right_alt:before {
  content: "\e04e";
}

.icon_minus_alt:before {
  content: "\e04f";
}

.icon_plus_alt:before {
  content: "\e050";
}

.icon_close_alt:before {
  content: "\e051";
}

.icon_check_alt:before {
  content: "\e052";
}

.icon_zoom-out:before {
  content: "\e053";
}

.icon_zoom-in:before {
  content: "\e054";
}

.icon_stop_alt:before {
  content: "\e055";
}

.icon_menu-square_alt:before {
  content: "\e056";
}

.icon_menu-circle_alt:before {
  content: "\e057";
}

.icon_document:before {
  content: "\e058";
}

.icon_documents:before {
  content: "\e059";
}

.icon_pencil_alt:before {
  content: "\e05a";
}

.icon_folder:before {
  content: "\e05b";
}

.icon_folder-open:before {
  content: "\e05c";
}

.icon_folder-add:before {
  content: "\e05d";
}

.icon_folder_upload:before {
  content: "\e05e";
}

.icon_folder_download:before {
  content: "\e05f";
}

.icon_info:before {
  content: "\e060";
}

.icon_error-circle:before {
  content: "\e061";
}

.icon_error-oct:before {
  content: "\e062";
}

.icon_error-triangle:before {
  content: "\e063";
}

.icon_question_alt:before {
  content: "\e064";
}

.icon_comment:before {
  content: "\e065";
}

.icon_chat:before {
  content: "\e066";
}

.icon_vol-mute:before {
  content: "\e067";
}

.icon_volume-low:before {
  content: "\e068";
}

.icon_volume-high:before {
  content: "\e069";
}

.icon_quotations_alt:before {
  content: "\e06a";
}

.icon_clock:before {
  content: "\e06b";
}

.icon_lock:before {
  content: "\e06c";
}

.icon_lock-open:before {
  content: "\e06d";
}

.icon_key:before {
  content: "\e06e";
}

.icon_cloud:before {
  content: "\e06f";
}

.icon_cloud-upload:before {
  content: "\e070";
}

.icon_cloud-download:before {
  content: "\e071";
}

.icon_lightbulb:before {
  content: "\e072";
}

.icon_gift:before {
  content: "\e073";
}

.icon_house:before {
  content: "\e074";
}

.icon_camera:before {
  content: "\e075";
}

.icon_mail:before {
  content: "\e076";
}

.icon_cone:before {
  content: "\e077";
}

.icon_ribbon:before {
  content: "\e078";
}

.icon_bag:before {
  content: "\e079";
}

.icon_cart:before {
  content: "\e07a";
}

.icon_tag:before {
  content: "\e07b";
}

.icon_tags:before {
  content: "\e07c";
}

.icon_trash:before {
  content: "\e07d";
}

.icon_cursor:before {
  content: "\e07e";
}

.icon_mic:before {
  content: "\e07f";
}

.icon_compass:before {
  content: "\e080";
}

.icon_pin:before {
  content: "\e081";
}

.icon_pushpin:before {
  content: "\e082";
}

.icon_map:before {
  content: "\e083";
}

.icon_drawer:before {
  content: "\e084";
}

.icon_toolbox:before {
  content: "\e085";
}

.icon_book:before {
  content: "\e086";
}

.icon_contacts:before {
  content: "\e087";
}

.icon_archive:before {
  content: "\e088";
}

.icon_heart:before {
  content: "\e089";
}

.icon_profile:before {
  content: "\e08a";
}

.icon_group:before {
  content: "\e08b";
}

.icon_grid-2x2:before {
  content: "\e08c";
}

.icon_grid-3x3:before {
  content: "\e08d";
}

.icon_music:before {
  content: "\e08e";
}

.icon_pause_alt:before {
  content: "\e08f";
}

.icon_phone:before {
  content: "\e090";
}

.icon_upload:before {
  content: "\e091";
}

.icon_download:before {
  content: "\e092";
}

.social_facebook:before {
  content: "\e093";
}

.social_twitter:before {
  content: "\e094";
}

.social_pinterest:before {
  content: "\e095";
}

.social_googleplus:before {
  content: "\e096";
}

.social_tumblr:before {
  content: "\e097";
}

.social_tumbleupon:before {
  content: "\e098";
}

.social_wordpress:before {
  content: "\e099";
}

.social_instagram:before {
  content: "\e09a";
}

.social_dribbble:before {
  content: "\e09b";
}

.social_vimeo:before {
  content: "\e09c";
}

.social_linkedin:before {
  content: "\e09d";
}

.social_rss:before {
  content: "\e09e";
}

.social_deviantart:before {
  content: "\e09f";
}

.social_share:before {
  content: "\e0a0";
}

.social_myspace:before {
  content: "\e0a1";
}

.social_skype:before {
  content: "\e0a2";
}

.social_youtube:before {
  content: "\e0a3";
}

.social_picassa:before {
  content: "\e0a4";
}

.social_googledrive:before {
  content: "\e0a5";
}

.social_flickr:before {
  content: "\e0a6";
}

.social_blogger:before {
  content: "\e0a7";
}

.social_spotify:before {
  content: "\e0a8";
}

.social_delicious:before {
  content: "\e0a9";
}

.social_facebook_circle:before {
  content: "\e0aa";
}

.social_twitter_circle:before {
  content: "\e0ab";
}

.social_pinterest_circle:before {
  content: "\e0ac";
}

.social_googleplus_circle:before {
  content: "\e0ad";
}

.social_tumblr_circle:before {
  content: "\e0ae";
}

.social_stumbleupon_circle:before {
  content: "\e0af";
}

.social_wordpress_circle:before {
  content: "\e0b0";
}

.social_instagram_circle:before {
  content: "\e0b1";
}

.social_dribbble_circle:before {
  content: "\e0b2";
}

.social_vimeo_circle:before {
  content: "\e0b3";
}

.social_linkedin_circle:before {
  content: "\e0b4";
}

.social_rss_circle:before {
  content: "\e0b5";
}

.social_deviantart_circle:before {
  content: "\e0b6";
}

.social_share_circle:before {
  content: "\e0b7";
}

.social_myspace_circle:before {
  content: "\e0b8";
}

.social_skype_circle:before {
  content: "\e0b9";
}

.social_youtube_circle:before {
  content: "\e0ba";
}

.social_picassa_circle:before {
  content: "\e0bb";
}

.social_googledrive_alt2:before {
  content: "\e0bc";
}

.social_flickr_circle:before {
  content: "\e0bd";
}

.social_blogger_circle:before {
  content: "\e0be";
}

.social_spotify_circle:before {
  content: "\e0bf";
}

.social_delicious_circle:before {
  content: "\e0c0";
}

.social_facebook_square:before {
  content: "\e0c1";
}

.social_twitter_square:before {
  content: "\e0c2";
}

.social_pinterest_square:before {
  content: "\e0c3";
}

.social_googleplus_square:before {
  content: "\e0c4";
}

.social_tumblr_square:before {
  content: "\e0c5";
}

.social_stumbleupon_square:before {
  content: "\e0c6";
}

.social_wordpress_square:before {
  content: "\e0c7";
}

.social_instagram_square:before {
  content: "\e0c8";
}

.social_dribbble_square:before {
  content: "\e0c9";
}

.social_vimeo_square:before {
  content: "\e0ca";
}

.social_linkedin_square:before {
  content: "\e0cb";
}

.social_rss_square:before {
  content: "\e0cc";
}

.social_deviantart_square:before {
  content: "\e0cd";
}

.social_share_square:before {
  content: "\e0ce";
}

.social_myspace_square:before {
  content: "\e0cf";
}

.social_skype_square:before {
  content: "\e0d0";
}

.social_youtube_square:before {
  content: "\e0d1";
}

.social_picassa_square:before {
  content: "\e0d2";
}

.social_googledrive_square:before {
  content: "\e0d3";
}

.social_flickr_square:before {
  content: "\e0d4";
}

.social_blogger_square:before {
  content: "\e0d5";
}

.social_spotify_square:before {
  content: "\e0d6";
}

.social_delicious_square:before {
  content: "\e0d7";
}

.icon_printer:before {
  content: "\e103";
}

.icon_calulator:before {
  content: "\e0ee";
}

.icon_building:before {
  content: "\e0ef";
}

.icon_floppy:before {
  content: "\e0e8";
}

.icon_drive:before {
  content: "\e0ea";
}

.icon_search-2:before {
  content: "\e101";
}

.icon_id:before {
  content: "\e107";
}

.icon_id-2:before {
  content: "\e108";
}

.icon_puzzle:before {
  content: "\e102";
}

.icon_like:before {
  content: "\e106";
}

.icon_dislike:before {
  content: "\e0eb";
}

.icon_mug:before {
  content: "\e105";
}

.icon_currency:before {
  content: "\e0ed";
}

.icon_wallet:before {
  content: "\e100";
}

.icon_pens:before {
  content: "\e104";
}

.icon_easel:before {
  content: "\e0e9";
}

.icon_flowchart:before {
  content: "\e109";
}

.icon_datareport:before {
  content: "\e0ec";
}

.icon_briefcase:before {
  content: "\e0fe";
}

.icon_shield:before {
  content: "\e0f6";
}

.icon_percent:before {
  content: "\e0fb";
}

.icon_globe:before {
  content: "\e0e2";
}

.icon_globe-2:before {
  content: "\e0e3";
}

.icon_target:before {
  content: "\e0f5";
}

.icon_hourglass:before {
  content: "\e0e1";
}

.icon_balance:before {
  content: "\e0ff";
}

.icon_rook:before {
  content: "\e0f8";
}

.icon_printer-alt:before {
  content: "\e0fa";
}

.icon_calculator_alt:before {
  content: "\e0e7";
}

.icon_building_alt:before {
  content: "\e0fd";
}

.icon_floppy_alt:before {
  content: "\e0e4";
}

.icon_drive_alt:before {
  content: "\e0e5";
}

.icon_search_alt:before {
  content: "\e0f7";
}

.icon_id_alt:before {
  content: "\e0e0";
}

.icon_id-2_alt:before {
  content: "\e0fc";
}

.icon_puzzle_alt:before {
  content: "\e0f9";
}

.icon_like_alt:before {
  content: "\e0dd";
}

.icon_dislike_alt:before {
  content: "\e0f1";
}

.icon_mug_alt:before {
  content: "\e0dc";
}

.icon_currency_alt:before {
  content: "\e0f3";
}

.icon_wallet_alt:before {
  content: "\e0d8";
}

.icon_pens_alt:before {
  content: "\e0db";
}

.icon_easel_alt:before {
  content: "\e0f0";
}

.icon_flowchart_alt:before {
  content: "\e0df";
}

.icon_datareport_alt:before {
  content: "\e0f2";
}

.icon_briefcase_alt:before {
  content: "\e0f4";
}

.icon_shield_alt:before {
  content: "\e0d9";
}

.icon_percent_alt:before {
  content: "\e0da";
}

.icon_globe_alt:before {
  content: "\e0de";
}

.icon_clipboard:before {
  content: "\e0e6";
}

.glyph {
  float: left;
  text-align: center;
  padding: .75em;
  margin: .4em 1.5em .75em 0;
  width: 6em;
  text-shadow: none;
}

.glyph_big {
  font-size: 128px;
  color: #59c5dc;
  float: left;
  margin-right: 20px;
}

.glyph div {
  padding-bottom: 10px;
}

.glyph input {
  font-family: consolas, monospace;
  font-size: 12px;
  width: 100%;
  text-align: center;
  border: 0;
  box-shadow: 0 0 0 1px #ccc;
  padding: .2em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.centered {
  margin-left: auto;
  margin-right: auto;
}

.glyph .fs1 {
  font-size: 2em;
}

/*
 *  ***************************************************
 *  boilerSASS
 *  ***************************************************
 *  Simple SASS Boilerplate based on HTML5 Boilerplate
 *  ***************************************************

 *  VARIABLES FILE
*/
/*
 *  ***************************************************
 *  SIMPLE.SASS
 *  ***************************************************
 *  Simple SASS Boilerplate based on HTML5 Boilerplate
 *  ***************************************************

 *  MIXINS FILE
*/
/* Links and Buttons */
/* ============================================== */
/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

/*!
 *  ***************************************************
 *  boilerSASS
 *  ***************************************************
 *  Simple SASS Boilerplate based on HTML5 Boilerplate
 *  ***************************************************

 *  GLOBAL STYLE
*/
/* ==========================================================================
   BODY
   ========================================================================== */
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 16px;
  color: #333;
  line-height: 1em;
}

body {
  padding-top: 120px;
}

/* Standard Links */
/* **************************************** */
a:link {
  color: #212121;
  text-decoration: none;
  -webkit-transition-property: color;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
  transition-property: color;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

a:visited {
  color: #2e2c2c;
  text-decoration: none;
}

a:hover {
  color: #2e2c2c;
  text-decoration: none;
}

a:active {
  color: #2e2c2c;
  text-decoration: none;
}

a:focus {
  outline: link_outline_focus;
  color: #2e2c2c;
  text-decoration: none;
}

/* Selection */
/* **************************************** */
::-moz-selection {
  background: #efefef;
  text-shadow: none;
}

::selection {
  background: #efefef;
  text-shadow: none;
}

/* Box-Sizing */
/* **************************************** */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* HR */
/* **************************************** */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 20px 0 20px 0;
  padding: 0;
}

/* Elements */
/* **************************************** */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

strong {
  font-weight: 700;
}

/*  ==========================================================================
    Browser Upgrade Prompt
    ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/*  ==========================================================================
    Responsive/Fluid Images
    ========================================================================== */
.img-fluid img, img.img-fluid,
.img-100 img, img.img-100 {
  width: 100%;
}

.icon-container .row {
  display: flex;
  margin-bottom: 2em;
}

.et_pb_toggle h5.et_pb_toggle_title {
  margin: 0;
}

.button {
  display: inline-block;
  background: #555;
  color: #fff;
  text-transform: uppercase;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  font-size: 1.2em;
  font-weight: 700;
  font-size: 1.2em;
  font-weight: 700;
  border: none;
  outline-style: solid;
  outline-width: 0px;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}
.button:hover {
  color: #fff;
  background: rgba(85, 85, 85, 0.8);
}
.button.small {
  font-size: 1em;
  height: 30px;
  line-height: 30px;
}
.button.disabled {
  pointer-events: none;
  opacity: 0.5;
}
.button.button-red {
  color: #fff !important;
  background: red !important;
  border-color: red !important;
}
.button.button-red:hover {
  color: #fff !important;
  background: rgba(255, 0, 0, 0.8) !important;
  border-color: rgba(255, 0, 0, 0.8) !important;
}
.button.button-orange {
  color: #fff !important;
  background: orange !important;
  border-color: orange !important;
}
.button.button-orange:hover {
  color: #fff !important;
  background: rgba(255, 165, 0, 0.8) !important;
  border-color: rgba(255, 165, 0, 0.8) !important;
}
.button.button-yellow {
  color: #555 !important;
  background: yellow !important;
  border-color: yellow !important;
}
.button.button-yellow:hover {
  color: #555 !important;
  background: rgba(255, 255, 0, 0.8) !important;
  border-color: rgba(255, 255, 0, 0.8) !important;
}
.button.button-green {
  color: #fff !important;
  background: #58B09C !important;
  border-color: #58B09C !important;
}
.button.button-green:hover {
  color: #fff !important;
  background: rgba(88, 176, 156, 0.8) !important;
  border-color: rgba(88, 176, 156, 0.8) !important;
}
.button.button-purple {
  color: #fff !important;
  background: purple !important;
  border-color: purple !important;
}
.button.button-purple:hover {
  color: #fff !important;
  background: rgba(128, 0, 128, 0.8) !important;
  border-color: rgba(128, 0, 128, 0.8) !important;
}
.button.button-wa {
  line-height: 1em;
  height: auto;
  padding: 8px 15px;
  background: #fff !important;
  color: #2c8f00 !important;
  border: 1px solid #2c8f00 !important;
}
.button.button-wa img {
  height: 20px;
  width: auto;
}
.button.button-wa:hover {
  color: rgba(44, 143, 0, 0.8) !important;
  border-color: rgba(44, 143, 0, 0.8) !important;
}

a.more-link {
  color: #fff !important;
  background: #000;
  display: inline-block;
  margin: 20px 0 0 0;
  padding: 5px 10px;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 700;
}

.et_pb_post .button.button-booking {
  height: auto;
  line-height: 16px;
  padding: 5px 10px;
  margin: 20px 0 0 0;
  font-size: 0.8em !important;
  border: none !important;
  margin-left: 10px;
}

.et_pb_button,
.et_pb_more_button.et_pb_button,
.et_pb_contact_submit.et_pb_button,
.button,
button,
button[type="submit"],
input[type="submit"],
input[type="reset"],
input[type="button"],
.read-more-button,
#et-info .et-cart,
.comment-body .comment_area .comment-content .reply-container .comment-reply-link,
.et_pb_widget.widget_tag_cloud a {
  font-size: 1em !important;
  text-transform: uppercase !important;
  background: #212121 !important;
  color: #fff !important;
  border-radius: 0 !important;
  border: 1px solid #212121 !important;
  padding: 0.3em 1em 0.3em 1em;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}
.et_pb_button:hover,
.et_pb_more_button.et_pb_button:hover,
.et_pb_contact_submit.et_pb_button:hover,
.button:hover,
button:hover,
button[type="submit"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.read-more-button:hover,
#et-info .et-cart:hover,
.comment-body .comment_area .comment-content .reply-container .comment-reply-link:hover,
.et_pb_widget.widget_tag_cloud a:hover {
  border-radius: 0 !important;
  border: 1px solid #212121 !important;
}
.et_pb_button:before, .et_pb_button:after,
.et_pb_more_button.et_pb_button:before,
.et_pb_more_button.et_pb_button:after,
.et_pb_contact_submit.et_pb_button:before,
.et_pb_contact_submit.et_pb_button:after,
.button:before,
.button:after,
button:before,
button:after,
button[type="submit"]:before,
button[type="submit"]:after,
input[type="submit"]:before,
input[type="submit"]:after,
input[type="reset"]:before,
input[type="reset"]:after,
input[type="button"]:before,
input[type="button"]:after,
.read-more-button:before,
.read-more-button:after,
#et-info .et-cart:before,
#et-info .et-cart:after,
.comment-body .comment_area .comment-content .reply-container .comment-reply-link:before,
.comment-body .comment_area .comment-content .reply-container .comment-reply-link:after,
.et_pb_widget.widget_tag_cloud a:before,
.et_pb_widget.widget_tag_cloud a:after {
  font-size: 1.5em;
}

.et_pb_widget a.button {
  margin-top: 20px;
  line-height: 29px !important;
}

/*!
 *  ***************************************************
 *  boilerSASS
 *  ***************************************************
 *  Simple SASS Boilerplate based on HTML5 Boilerplate
 *  ***************************************************

 *  THYPOGRAPHY
*/
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: inherit;
  padding: 0;
  margin: 0 0 1em 0;
  line-height: 1em;
  font-weight: 700;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small {
  color: #999;
  font-size: 0.5em;
}

h1,
.h1 {
  font-family: inherit;
  font-size: 28px !important;
  font-weight: 700;
  color: inherit;
  padding: 0;
  margin: 0 0 1em 0;
}
h1 small,
.h1 small {
  color: #999;
  font-size: 0.5em;
}
h1 a,
.h1 a {
  font-size: 1em !important;
}
@media all and (min-width: 768px) {
  h1,
  .h1 {
    font-size: 32px !important;
  }
  h1 a,
  .h1 a {
    font-size: 1em !important;
  }
}
@media all and (min-width: 1024px) {
  h1,
  .h1 {
    font-size: 36px !important;
  }
  h1 a,
  .h1 a {
    font-size: 1em !important;
  }
}
@media all and (min-width: 1200px) {
  h1,
  .h1 {
    font-size: 46px !important;
  }
  h1 a,
  .h1 a {
    font-size: 1em !important;
  }
}

h2,
.h2 {
  font-family: inherit;
  font-size: 26px !important;
  font-weight: 700;
  color: inherit;
  padding: 0;
  margin: 0 0 1em 0;
}
h2 small,
.h2 small {
  color: #999;
  font-size: 0.5em;
}
h2 a,
.h2 a {
  font-size: 1em !important;
}
@media all and (min-width: 768px) {
  h2,
  .h2 {
    font-size: 30px !important;
  }
  h2 a,
  .h2 a {
    font-size: 1em !important;
  }
}
@media all and (min-width: 1024px) {
  h2,
  .h2 {
    font-size: 34px !important;
  }
  h2 a,
  .h2 a {
    font-size: 1em !important;
  }
}
@media all and (min-width: 1200px) {
  h2,
  .h2 {
    font-size: 44px !important;
  }
  h2 a,
  .h2 a {
    font-size: 1em !important;
  }
}

h3,
.h3 {
  font-family: inherit;
  font-size: 24px !important;
  font-weight: 700;
  color: inherit;
  padding: 0;
  margin: 0 0 1em 0;
}
h3 small,
.h3 small {
  color: #999;
  font-size: 0.5em;
}
h3 a,
.h3 a {
  font-size: 24px !important;
}
@media all and (min-width: 768px) {
  h3,
  .h3 {
    font-size: 28px !important;
  }
  h3 a,
  .h3 a {
    font-size: 28px !important;
  }
}
@media all and (min-width: 1024px) {
  h3,
  .h3 {
    font-size: 32px !important;
  }
  h3 a,
  .h3 a {
    font-size: 32px !important;
  }
}
@media all and (min-width: 1200px) {
  h3,
  .h3 {
    font-size: 42px !important;
  }
  h3 a,
  .h3 a {
    font-size: 42px !important;
  }
}

h4,
.h4 {
  font-family: inherit;
  font-size: 22px !important;
  font-weight: 700;
  color: inherit;
  padding: 0;
  margin: 0 0 1em 0;
}
h4 small,
.h4 small {
  color: #999;
  font-size: 0.5em;
}
h4 a,
.h4 a {
  font-size: 22px !important;
}
@media all and (min-width: 768px) {
  h4,
  .h4 {
    font-size: 26px !important;
  }
  h4 a,
  .h4 a {
    font-size: 26px !important;
  }
}
@media all and (min-width: 1024px) {
  h4,
  .h4 {
    font-size: 30px !important;
  }
  h4 a,
  .h4 a {
    font-size: 30px !important;
  }
}
@media all and (min-width: 1200px) {
  h4,
  .h4 {
    font-size: 40px !important;
  }
  h4 a,
  .h4 a {
    font-size: 40px !important;
  }
}

h5,
.h5 {
  font-family: inherit;
  font-size: 20px !important;
  font-weight: 700;
  color: inherit;
  padding: 0;
  margin: 0 0 1em 0;
}
h5 small,
.h5 small {
  color: #999;
  font-size: 0.5em;
}
h5 a,
.h5 a {
  font-size: 20px !important;
}
@media all and (min-width: 768px) {
  h5,
  .h5 {
    font-size: 24px !important;
  }
  h5 a,
  .h5 a {
    font-size: 24px !important;
  }
}
@media all and (min-width: 1024px) {
  h5,
  .h5 {
    font-size: 28px !important;
  }
  h5 a,
  .h5 a {
    font-size: 28px !important;
  }
}
@media all and (min-width: 1200px) {
  h5,
  .h5 {
    font-size: 38px !important;
  }
  h5 a,
  .h5 a {
    font-size: 38px !important;
  }
}

h6,
.h6 {
  font-family: inherit;
  font-size: 18px !important;
  font-weight: 700;
  color: inherit;
  padding: 0;
  margin: 0 0 1em 0;
}
h6 small,
.h6 small {
  color: #999;
  font-size: 0.5em;
}
h6 a,
.h6 a {
  font-size: 18px !important;
}
@media all and (min-width: 768px) {
  h6,
  .h6 {
    font-size: 22px !important;
  }
  h6 a,
  .h6 a {
    font-size: 22px !important;
  }
}
@media all and (min-width: 1024px) {
  h6,
  .h6 {
    font-size: 26px !important;
  }
  h6 a,
  .h6 a {
    font-size: 26px !important;
  }
}
@media all and (min-width: 1200px) {
  h6,
  .h6 {
    font-size: 36px !important;
  }
  h6 a,
  .h6 a {
    font-size: 36px !important;
  }
}

p,
.p {
  font-size: inherit;
  color: inherit;
  line-height: 1.4em;
  padding: 0;
  margin: 0 0 1em 0;
}

ul {
  list-style-type: ul_list_style_type;
  padding: 0 0 0 40px;
  margin: 0;
}

.font-mini {
  font-size: 0.5em;
}

.font-small {
  font-size: 0.7em;
}

.font-smaller {
  font-size: 0.8em;
}

.font-larger {
  font-size: 1.3em;
}

.font-large {
  font-size: 1.5em;
}

.font-big {
  font-size: 2em;
}

.centered-txt {
  text-align: center;
}

.right-txt {
  text-align: right;
}

.left-txt {
  text-align: left;
}

.tab {
  margin: 0 0 20px 0;
  border-collapse: collapse;
  width: 100%;
}
.tab td,
.tab th {
  padding: 10px;
}
.tab thead {
  color: inherit;
  background: transparent;
  font-size: 1.2em;
}
.tab.tab-bordered {
  border: 1px solid #ccc;
}
.tab.tab-bordered tr {
  border-bottom: 1px solid #ccc;
}
.tab.tab-bordered tr:last-child {
  border-bottom: none;
}
.tab.tab-bordered thead {
  border-bottom: 1px solid #ccc;
}
.tab.tab-bordered td,
.tab.tab-bordered th {
  padding: 10px;
  border-right: 1px solid #ccc;
}
.tab.tab-bordered td:last-child,
.tab.tab-bordered th:last-child {
  border-right: none;
}
.tab.tab-zebra tbody tr:nth-child(odd) {
  color: inherit;
  background: #efefef;
}
.tab.tab-zebra tbody tr:nth-child(even) {
  color: inherit;
  background: transparent;
}

/*!
 *  ***************************************************
 *  boilerSASS
 *  ***************************************************
 *  Simple SASS Boilerplate based on HTML5 Boilerplate
 *  ***************************************************

 *  FORM STYLE
*/
/*
label {
    color: @label-color;
    font-weight: @label-weight;
    margin: @label-margin;
    padding: @label-padding;
}

input,
textarea {
    color: @inp-color;
    margin: @inp-margin;
    padding: @inp-padding;
    border: @inp-border;
    border-radius: @inp-radius;
}
*/
.input, .textarea, select, textarea, input, input[type="text"], input[type="password"], input[type="email"], input[type="search"] {
  border-radius: 0;
  padding: 6px 12px;
  background: #fff;
}

.module__custom-form {
  display: flex;
  flex-direction: column;
}
@media all and (min-width: 1024px) {
  .module__custom-form {
    flex-direction: row;
  }
}
.module__custom-form .form-column {
  width: 100%;
  overflow: hidden;
  margin-bottom: 20px;
}
@media all and (min-width: 1024px) {
  .module__custom-form .form-column {
    flex-direction: row;
    width: 16.6666%;
    margin-bottom: 0;
  }
}
.module__custom-form .form-column h4,
.module__custom-form .form-column .h4 {
  color: #fff;
  font-size: 1em !important;
  margin-bottom: 10px;
}
@media all and (min-width: 1024px) {
  .module__custom-form .form-column h4,
  .module__custom-form .form-column .h4 {
    margin-bottom: 5px;
  }
}
.module__custom-form .form-column input, .module__custom-form .form-column select {
  width: 100%;
  cursor: pointer;
  transition: none;
}
.module__custom-form .form-column input:hover, .module__custom-form .form-column select:hover {
  background: rgba(0, 0, 0, 0.1);
}
@media all and (min-width: 1024px) {
  .module__custom-form .form-column input, .module__custom-form .form-column select {
    width: 95%;
  }
}
.module__custom-form .form-column button {
  display: block;
  margin: 36px 0 0 0;
  width: 100%;
  border: 1px solid #58B09C !important;
  border-radius: 0;
  background: #58B09C !important;
  color: #fff !important;
  height: auto;
  padding: 6px 12px;
}
.module__custom-form .form-column button:hover {
  border: 1px solid #69b8a6 !important;
  background: #69b8a6 !important;
  color: #fff !important;
}

.module__globalform .wpcf7 {
  margin-top: 40px;
}
.module__globalform .wpcf7 .wpcf7-form label {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.module__globalform .wpcf7 .wpcf7-form br {
  display: none;
}
.module__globalform .wpcf7 .wpcf7-form .wpcf7-form-control {
  background-color: #eee;
  border: none;
  width: 100%;
  border-radius: 0;
  font-size: 14px;
  color: #999;
  padding: 16px;
}
.module__globalform .wpcf7 .wpcf7-form .privacy-field {
  margin-bottom: 20px;
}
.module__globalform .wpcf7 .wpcf7-form .wpcf7-form-control-wrap.acceptance-244 {
  display: inline-block;
}
.module__globalform .wpcf7 .wpcf7-form .wpcf7-acceptance {
  background: transparent;
  color: #555;
  border: none !important;
  padding: 0;
}
.module__globalform .wpcf7 .wpcf7-form .wpcf7-acceptance .wpcf7-list-item {
  margin: 0;
  padding: 0;
}
.module__globalform .wpcf7 .wpcf7-form .wpcf7-submit {
  padding: 12px;
  display: inline-block;
  width: auto !important;
}

.single article,
.page article {
  margin: 0 0 40px;
  padding: 0;
  background: #fff;
  border-radius: 3px;
  box-shadow: none;
}

.post .post-thumbnail {
  margin-bottom: 0;
}
.post .post-header {
  width: 100%;
  padding: 40px 0 0 0;
  box-sizing: border-box;
  text-align: left;
}
.post .post-header .entry-title {
  margin-bottom: 20px;
  font-weight: 300;
}
.post .post-wrap {
  padding: 0;
}
@media (min-width: 981px) {
  .post .post-content .et_pb_section {
    padding: 0;
  }
}
.post .post-content .et_pb_section .et_pb_row {
  width: 100%;
  padding: 0 0 4% 0 !important;
}

.et_pb_blog_grid_wrapper h2.entry-title {
  font-size: 30px !important;
}

.related-posts {
  border-radius: 0;
  box-shadow: none;
  border-width: 1px;
  border-style: solid;
  border-color: #efefef !important;
}
.related-posts .related-posts-header h3 {
  font-size: 18px !important;
}
@media all and (min-width: 1200px) {
  .related-posts .related-posts-header h3 {
    font-size: 24px !important;
  }
}
.related-posts .related-posts-content h4.title,
.related-posts .related-posts-content h4.title a {
  font-size: 22px !important;
}

.page-id-138 .et_pb_section {
  padding: 80px 0 !important;
}
.page-id-138 .et_pb_section_0 {
  padding-bottom: 0 !important;
}
.page-id-138 .et_pb_section_1 {
  padding-bottom: 0 !important;
}
.page-id-138 .et_pb_row {
  padding: 0;
}
.page-id-138 .et_pb_column_28 {
  padding-bottom: 40px;
}
.page-id-138 h2 {
  margin-bottom: 20px !important;
}
.page-id-138 h3 {
  font-size: 24px !important;
  margin-bottom: 10px !important;
}
.page-id-138 h4 {
  font-size: 22px !important;
  margin-bottom: 10px !important;
}

#top-header,
#et-secondary-menu {
  background-color: #b89685 !important;
}

#et-secondary-menu.nav li a {
  color: #fff;
  text-transform: uppercase;
  font-size: 0.9em;
}
#et-secondary-menu.nav li a:hover:before {
  display: none;
}
#et-secondary-menu.nav li.menu-item-1279 a {
  display: inline-block;
  background: #58B09C;
  padding: 10px;
  font-weight: 700;
}
#et-secondary-menu.nav li.menu-item-1279 a:hover {
  background: #69b8a6;
  color: #fff;
}

#page_riparelais h1 {
  margin: 0;
}

/* ************************************** */
/* SVG Divider
    (for module saved on DIVI Library) */
/* ************************************** */
.svg-divider {
  text-align: center;
}
.svg-divider .fil0 {
  fill: #b89685;
}

/* ************************************** */
/* Module Hotel Infos */
/* ************************************** */
.module__hotel-infos {
  color: #fff;
  text-align: center;
}
.module__hotel-infos span {
  margin-right: 5px;
}

.module__simple-title {
  text-align: center;
  margin-bottom: 40px !important;
}
.module__simple-title h1, .module__simple-title h2 {
  margin-bottom: 10px;
}

/* ************************************** */
/* Module Double Title */
/* ************************************** */
.module_double-title,
.module__double-title {
  text-align: center;
  position: relative;
  margin-bottom: 40px;
}
.module_double-title .title-background,
.module__double-title .title-background {
  font-family: "Herr Von Muellerhoff", Helvetica, Arial, sans-serif;
  font-size: 4em;
  line-height: 1em;
  color: #ccc;
}
.module_double-title .title-front,
.module__double-title .title-front {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  line-height: 1em;
  position: absolute;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-family: "Playfair Display";
}
.module_double-title .title-front small,
.module__double-title .title-front small {
  display: block;
  line-height: 0.5em;
  font-size: 0.3em;
  letter-spacing: 7px;
}
@media all and (min-width: 768px) {
  .module_double-title .title-background,
  .module__double-title .title-background {
    font-size: 8em;
  }
  .module_double-title .title-front,
  .module__double-title .title-front {
    font-size: 2.5em !important;
  }
}
@media all and (min-width: 1024px) {
  .module_double-title .title-background,
  .module__double-title .title-background {
    font-size: 9em;
  }
  .module_double-title .title-front,
  .module__double-title .title-front {
    font-size: 4em !important;
  }
}

/* ************************************** */
/* Module Services Buttons */
/* ************************************** */
.module__services-buttons .module__services-buttons_inner {
  *zoom: 1;
}
.module__services-buttons .module__services-buttons_inner:before, .module__services-buttons .module__services-buttons_inner:after {
  content: "";
  display: table;
}
.module__services-buttons .module__services-buttons_inner:after {
  clear: both;
}
.module__services-buttons .module__services-buttons_inner .single-service {
  float: left;
  width: 100%;
  margin-bottom: 1px;
}
@media all and (min-width: 768px) {
  .module__services-buttons .module__services-buttons_inner .single-service {
    width: 50%;
  }
}
@media all and (min-width: 980px) {
  .module__services-buttons .module__services-buttons_inner .single-service {
    width: 25%;
    margin-bottom: 0;
  }
}
.module__services-buttons .module__services-buttons_inner .single-service a.single-service_link {
  display: block;
  position: relative;
  color: #fff;
}
.module__services-buttons .module__services-buttons_inner .single-service a.single-service_link .single-service_image {
  display: none;
}
.module__services-buttons .module__services-buttons_inner .single-service a.single-service_link .single-service_image img {
  width: 100%;
}
@media all and (min-width: 980px) {
  .module__services-buttons .module__services-buttons_inner .single-service a.single-service_link .single-service_image {
    display: block;
  }
}
.module__services-buttons .module__services-buttons_inner .single-service a.single-service_link .single-service_text {
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition-property: background;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
  transition-property: background;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}
@media all and (min-width: 980px) {
  .module__services-buttons .module__services-buttons_inner .single-service a.single-service_link .single-service_text {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
.module__services-buttons .module__services-buttons_inner .single-service a.single-service_link .single-service_text h4 {
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  font-size: 2em !important;
  margin: 0;
  padding: 0;
  backface-visibility: hidden;
  padding: 20px;
  width: 100%;
  font-weight: 300;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}
.module__services-buttons .module__services-buttons_inner .single-service a.single-service_link .single-service_text h4 small {
  display: block;
  font-size: 0.3em;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  color: #fff;
  overflow: hidden;
  line-height: 1.3em;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}
@media all and (min-width: 980px) {
  .module__services-buttons .module__services-buttons_inner .single-service a.single-service_link .single-service_text h4 {
    height: 104px;
    position: absolute;
    top: auto;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
.module__services-buttons .module__services-buttons_inner .single-service a.single-service_link:hover .single-service_text {
  background-color: transparent;
}
.module__services-buttons .module__services-buttons_inner .single-service a.single-service_link:hover .single-service_text h4 {
  height: 50%;
}
.module__services-buttons .module__services-buttons_inner .single-service a.single-service_link:hover .single-service_text h4 small {
  color: #fff;
  white-space: normal;
  overflow: visible;
  text-overflow: inherit;
}

/* ************************************** */
/* Module Hotel Room Infos */
/* ************************************** */
.hotel-room-smalltitle {
  text-transform: uppercase;
  font-weight: 700;
}

.module__hotel-room-infos {
  margin: 40px 0;
}
.module__hotel-room-infos ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.module__hotel-room-infos ul li {
  margin: 0;
}
.module__hotel-room-infos ul li .room-info .info-label {
  font-weight: 700;
  text-transform: uppercase;
}
.module__hotel-room-infos ul li .room-info .svg-icon {
  display: block;
  margin: 0 5px 5px 0;
  border-radius: 6px;
  padding: 5px;
  border: 1px solid #ccc;
}
.module__hotel-room-infos ul li .room-info .svg-icon svg {
  width: 40px;
  height: 40px;
}
.module__hotel-room-infos ul li .room-info .svg-icon svg .svg-path,
.module__hotel-room-infos ul li .room-info .svg-icon svg .svg-polygon,
.module__hotel-room-infos ul li .room-info .svg-icon svg .svg-rect,
.module__hotel-room-infos ul li .room-info .svg-icon svg .svg-circle {
  fill: #ccc;
}
.module__hotel-room-infos ul.room-identity li {
  margin: 0 10px 5px 0;
}
.module__hotel-room-infos ul.room-beds {
  padding-top: 24px;
  margin-top: 10px;
  border-top: 1px solid #efefef;
}
.module__hotel-room-infos ul.room-amenities {
  padding-bottom: 24px;
  margin-bottom: 0;
  border-bottom: 1px solid #efefef;
}

/* ************************************** */
/* Module CTA (Divi) */
/* ************************************** */
.module__cta_green .et_pb_promo_button.et_pb_button {
  background: #58B09C !important;
  border-color: #58B09C !important;
  color: #fff !important;
}
.module__cta_green .et_pb_promo_button.et_pb_button:hover {
  background: #69b8a6 !important;
  color: #fff !important;
}

/* ************************************** */
/* Module CONTACT FORM (Divi) */
/* ************************************** */
.module__form-moreinfo .et_pb_contact_main_title {
  font-size: 1.5em !important;
}

.menu-footer-menu-container {
  width: 80%;
}

@media (min-width: 1200px) {
  .et_pb_blog_grid .et_pb_post h2, .et_pb_blog_grid .et_pb_post .h2 {
    margin-bottom: 10px;
  }
}

.special-offers-slider .et_pb_slides .et_pb_slide {
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}
.special-offers-slider .et_pb_slides .et_pb_slide .et_pb_container {
  height: 500px !important;
}
.special-offers-slider .et_pb_slides .et_pb_slide.et-pb-active-slide:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.special-offers-slider .et_pb_slides .et_pb_slide.et-pb-active-slide:hover .et_pb_slide_description {
  -webkit-transform: scale(0.83333);
  transform: scale(0.83333);
}

#top-header {
  position: fixed;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0;
}

#main-header-wrapper {
  position: fixed;
  top: 50px;
  right: 0;
  bottom: auto;
  left: 0;
}

@media only screen and (max-width: 1024px) {
  #top-header {
    display: block;
  }

  #et-info {
    display: none;
  }

  /*.menu-item-1275 {
      display: none!important;
  }*/
}
#et-info .et-top-search .et-search-submit {
  background: transparent !important;
  border: none !important;
}

@media only screen and (min-width: 1024px) {
  .et_fixed_nav .et-fixed-header #main-header {
    position: fixed;
    width: 100%;
    top: 50px;
  }
}
#et-secondary-nav {
  order: 2;
}

.et_pb_gallery .et_pb_gallery_item .et_pb_gallery_image {
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  overflow: hidden;
}
.et_pb_gallery .et_pb_gallery_item .et_pb_gallery_image a img {
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}
.et_pb_gallery .et_pb_gallery_item .et_pb_gallery_image a .et_overlay {
  display: none !important;
}
.et_pb_gallery .et_pb_gallery_item .et_pb_gallery_image a:hover img {
  opacity: 0.8;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

/*!
 *  ***************************************************
 *  boilerSASS
 *  ***************************************************
 *  Simple SASS Boilerplate based on HTML5 Boilerplate
 *  ***************************************************
*/
@media (max-width: 980px) {
  #et-mobile-navigation nav {
    overflow-y: scroll !important;
    max-height: 68vh;
  }
}
/* ****************************************+ */
/* jQuery UI */
/* ****************************************+ */
.ui-selectmenu-button.ui-button {
  width: 100%;
  border-radius: 0;
  border: none;
}
@media all and (min-width: 1024px) {
  .ui-selectmenu-button.ui-button {
    width: 95%;
  }
}

.ui-state-default, .ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
  background: #fff;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
  border: 1px solid #4da28f;
  background: #4da28f;
  font-weight: normal;
  color: #fff;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus {
  outline: none;
  background: rgba(0, 0, 0, 0.1);
}

/* ****************************************+ */
/* HEADER */
/* ****************************************+ */
#et-navigation > ul > li {
  display: inline-block;
  text-transform: uppercase;
  margin: 0 12px;
}

/* ****************************************+ */
/* GENERIC */
/* ****************************************+ */
h1, h2, h3, h4, h5 {
  letter-spacing: 3px;
}

/*h2 {
    font-size: 30px !important;
}

.et_pb_column_1_3 h1, .et_pb_column_1_4 h1 {
    font-size: 45px;
}

.et_pb_button{
	border-radius: 0px;
    font-size: 14px;
}
.et_pb_button:hover:after{
    margin-top: -6px;
}

.et_pb_widget .widgettitle {
	background: $black;
	color: $white;
}

.whited,
.whited a,
.whited p{
	color: white;
}

.whited {
    h1, h2, h3, h4 {
        color: $black;
    }
}

.whited a{
	color: $black;
    transition: color 0.2s ease;
}

.whited a:hover{
	color: $white!important;
}

.whited a.et_pb_button {
    color: $black !important;
}

ul.list-flat.right{
	text-align: right;
}

ul.list-flat{
	list-style: none;
    margin: 0;
    padding: 0;
    li {
        text-transform: uppercase;
        border-bottom: 1px solid $black;
        margin-bottom: $margin/4;
        a {
            display: block;
            &:hover {
                color: #b29a53;
            }

        }
    }
}


span.sub {
	font-size: 12px;
	margin: 0;
	padding: 0;
}

.et_pb_sum, .et_pb_pricing li a,
.et_pb_pricing_table_button,
.et_overlay:before,
.et_pb_member_social_links a:hover,
.woocommerce-page #content input.button:hover .et_pb_widget li a:hover,
.et_pb_bg_layout_light .et_pb_promo_button,
.et_pb_bg_layout_light.et_pb_module.et_pb_button,
.et_pb_bg_layout_light .et_pb_more_button,
.et_pb_filterable_portfolio .et_pb_portfolio_filters li a.active,
.et_pb_filterable_portfolio .et_pb_portofolio_pagination ul li a.active,
.et_pb_gallery .et_pb_gallery_pagination ul li a.active,
.et_pb_contact_submit, .et_pb_bg_layout_light .et_pb_newsletter_button,
.woocommerce-page #content input.read-more-button:hover .et_pb_widget li a:hover,
.woocommerce-page #content input.button:hover .et_pb_widget.woocommerce .product_list_widget li a:hover,
.woocommerce-page #content input.post-nav .nav-links .button:hover .et_pb_widget li a:hover{
	color: $black;
}*/
.et_pb_column_1_2 .et_pb_slide_content,
.et_pb_column_3_4 .et_pb_column_3_8 .et_pb_slide_content,
.et_pb_column_1_3 .et_pb_slide_content,
.et_pb_column_1_4 .et_pb_slide_content {
  font-size: 16px;
  line-height: 1.2em;
}

.et_pb_post_slider .et_pb_slides .et_pb_slide {
  padding: 0;
}
.et_pb_post_slider .et_pb_slides .et_pb_slide .et_pb_slide_title {
  margin-bottom: 20px !important;
}
.et_pb_post_slider.et_pb_bg_layout_light {
  background: transparent;
}

.archive h1 {
  line-height: 1em;
  margin: 0 0 7px;
}

.text-center {
  text-align: center;
}

.svg-divider {
  text-align: center;
}
.svg-divider .fil0 {
  fill: #b89685;
}

/* ****************************************+ */
/* SECTIONS */
/* ****************************************+ */
.et_pb_post_slider.et_pb_bg_layout_dark {
  background: transparent !important;
}

.section-colored_color-1 {
  background-color: #b89685 !important;
}

.row__services .et_pb_blurb .et_pb_blurb_content {
  position: relative;
}
.row__services .et_pb_blurb .et_pb_blurb_content .et_pb_blurb_container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-transition-property: background;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
  transition-property: background;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}
.row__services .et_pb_blurb .et_pb_blurb_content .et_pb_blurb_container:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.row__services .et_pb_blurb .et_pb_blurb_content .et_pb_blurb_container h4 {
  color: #fff;
  font-size: 2em;
  margin: 0;
  padding: 0;
  position: absolute;
  top: auto;
  right: 20px;
  bottom: 20px;
  left: 20px;
}
.row__services .et_pb_blurb .et_pb_blurb_content .et_pb_blurb_container h4 a {
  color: #fff;
  font-size: 2em;
}

#footer .container {
  max-width: none;
}

.et_pb_extra_column_sidebar .et_pb_widget {
  display: block;
  background: #FFFFFF;
  width: 100%;
  border-radius: 0;
  box-shadow: none;
  margin: 0 0 24px;
  overflow: hidden;
  border: 1px solid #efefef;
}
.et_pb_extra_column_sidebar .et_pb_widget .widgettitle {
  background: transparent;
  padding-bottom: 0;
  margin-bottom: 0;
  color: #ccc;
  font-size: 1.8em !important;
  font-weight: 300;
}

.et-pb-controllers a {
  border-radius: 0;
  width: 18px;
  height: 18px;
}

.row__article-sliders .et_pb_post_slider {
  border-bottom: 8px solid #b89685;
}
.row__article-sliders .et_pb_slide_content {
  text-transform: uppercase !important;
  font-weight: 700;
}

/* LANDING PAGES */
.fc-theme__landingpage {
  font-size: 16px;
  padding-top: 0 !important;
}
.fc-theme__landingpage h1 {
  margin: 0 0 20px 0;
}
.fc-theme__landingpage .fc-theme__landingpage_header {
  position: relative;
}
.fc-theme__landingpage .fc-theme__landingpage_header img {
  width: 100%;
}
.fc-theme__landingpage .fc-theme__landingpage_header .fc-theme__landingpage_header_title {
  text-align: center;
  position: absolute;
  top: 50%;
  right: 0;
  bottom: auto;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.fc-theme__landingpage .fc-theme__landingpage_header .fc-theme__landingpage_header_title .module_double-title .title-front {
  font-family: "Playfair Display";
  text-transform: uppercase;
  color: #b89685;
}

.fc-theme__landingpage_row {
  padding: 40px 0;
}
@media all and (min-width: 1024px) {
  .fc-theme__landingpage_row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.fc-theme__landingpage_row .fc-theme__landingpage_col {
  width: 100%;
}
@media all and (min-width: 1024px) {
  .fc-theme__landingpage_row .fc-theme__landingpage_col {
    width: 50%;
  }
}

.fc-theme__landingpage_dates {
  font-size: 1.2em;
  padding: 20px 0;
}
.fc-theme__landingpage_dates div {
  display: inline-block;
}

.fc-theme__landingpage_list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding: 40px 0;
}
.fc-theme__landingpage_list li {
  font-size: 1.5em;
}
.fc-theme__landingpage_list li i {
  color: #b89685;
}

.fc-theme__landingpage_price {
  width: 90%;
  padding: 40px 0;
  border-top: 1px solid #efefef;
  font-size: 3.2em;
}
.fc-theme__landingpage_price span {
  display: inline-block;
}
.fc-theme__landingpage_price .price-start-from {
  font-style: italic;
  display: block;
  margin-bottom: 10px;
  line-height: 2em;
}
.fc-theme__landingpage_price .price-currency {
  font-weight: 700;
}
.fc-theme__landingpage_price .price-amount {
  font-weight: 700;
}
.fc-theme__landingpage_price .price-for {
  display: block;
  line-height: 3em;
  font-size: 0.4em;
}

.fc-theme__landingpage_bookbutton {
  margin-top: 40px;
  margin-bottom: 40px;
}
.fc-theme__landingpage_bookbutton .button {
  padding: 0em 1em 0.3em 1em;
  margin: 0em 0em 0.3em 0em;
}
@media all and (min-width: 1024px) {
  .fc-theme__landingpage_bookbutton {
    margin-bottom: 0;
  }
}

.fc-theme__landingpage_excerpt {
  font-size: 1.5em;
}

.fc-theme__landingpage_content {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px auto;
  border-top: 1px solid #efefef;
}
.fc-theme__landingpage_content h3 {
  margin-bottom: 20px;
}

.fc-theme__landingpage_form {
  padding: 40px;
  background: #efefef;
}
.fc-theme__landingpage_form h4 {
  font-size: 1.7em !important;
  margin: 0;
}
.fc-theme__landingpage_form p.fc-theme__landingpage_form-description {
  font-size: 1.3em;
  padding: 20px 0 40px 0;
  font-style: italic;
}
.fc-theme__landingpage_form label {
  text-transform: uppercase;
  font-weight: 700;
  color: #b89685;
}

.fc-theme__landingpage_bookingform {
  background: #b89685;
  padding: 40px 0;
}
.fc-theme__landingpage_bookingform h3, .fc-theme__landingpage_bookingform h4 {
  font-size: 1.3em;
  color: #fff;
}

.wpcf7-form-control-wrap {
  display: block;
  margin-bottom: 10px;
}

.wpcf7-form-control {
  border: 1px solid #efefef !important;
  width: 100% !important;
}

#footer {
  color: #fff;
}

#main-content {
  padding-top: 65px;
}

.et_pb_widget.google-reviews-widget {
  padding: 20px;
}
.et_pb_widget.google-reviews-widget h2 {
  background: transparent;
  padding-bottom: 0;
  margin-bottom: 20px;
  color: #ccc;
  font-size: 1.8em !important;
  font-weight: 300;
}

.menu-item-1501 a {
  color: #58B09C !important;
  font-weight: 700 !important;
}
.menu-item-1501 a:hover {
  color: #69b8a6 !important;
}
.menu-item-1501 a:before {
  opacity: 1;
  background-color: #58B09C !important;
}

.custom-cta-module h2 {
  font-size: 38px !important;
  font-weight: 700;
  margin-bottom: 20px;
}

#et-secondary-menu.nav .phonelink span,
#et-secondary-menu.nav .maillink span {
  display: none;
}
@media all and (min-width: 768px) {
  #et-secondary-menu.nav .phonelink span,
  #et-secondary-menu.nav .maillink span {
    display: inline;
  }
}

/*!  
 *  ***************************************************
 *  boilerSASS
 *  ***************************************************
 *  Simple SASS Boilerplate based on HTML5 Boilerplate 
 *  ***************************************************

 *  CSS UTILITIES
*/
/*  ========================================================================== */
/*  Elements Positioning */
/*  ========================================================================== */
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

/*  ========================================================================== */
/*  Display */
/*  ========================================================================== */
.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

/*  ========================================================================== */
/*  Margins */
/*  ========================================================================== */
.no-marg {
  margin: 0;
}

.no-marg-ver {
  margin-top: 0;
  margin-bottom: 0;
}

.no-marg-hor {
  margin-right: 0;
  margin-left: 0;
}

.no-marg-top {
  margin-top: 0;
}

.no-marg-bottom {
  margin-bottom: 0;
}

.no-marg-right {
  margin-right: 0;
}

.no-marg-left {
  margin-left: 0;
}

.marg {
  margin: 40px;
}
.marg.half {
  margin: 20px;
}

.marg-ver {
  margin-top: 40px;
  margin-bottom: 40px;
}
.marg-ver.half {
  margin-top: 20px;
  margin-bottom: 20px;
}

.marg-hor {
  margin-left: 40px;
  margin-right: 40px;
}
.marg-hor.half {
  margin-left: 20px;
  margin-right: 20px;
}

.marg-top {
  margin-top: 40px;
}
.marg-top.half {
  margin-top: 20px;
}

.marg-bottom {
  margin-bottom: 40px;
}
.marg-bottom.half {
  margin-bottom: 20px;
}

.marg-left {
  margin-left: 40px;
}
.marg-left.half {
  margin-left: 20px;
}

.marg-right {
  margin-right: 40px;
}
.marg-right.half {
  margin-right: 20px;
}

/*  ========================================================================== */
/*  Paddings */
/*  ========================================================================== */
.no-pad {
  padding: 0;
}

.no-pad-ver {
  padding-top: 0;
  padding-bottom: 0;
}

.no-pad-hor {
  padding-right: 0;
  padding-left: 0;
}

.no-pad-top {
  padding-top: 0;
}

.no-pad-bottom {
  padding-bottom: 0;
}

.no-pad-right {
  padding-right: 0;
}

.no-pad-left {
  padding-left: 0;
}

.pad {
  padding: 40px;
}
.pad.half {
  padding: 20px;
}

.pad-ver {
  padding-top: 40px;
  padding-bottom: 40px;
}
.pad-ver.half {
  padding-top: 20px;
  padding-bottom: 20px;
}

.pad-hor {
  padding-left: 40px;
  padding-right: 40px;
}
.pad-hor.half {
  padding-left: 20px;
  padding-right: 20px;
}

.pad-top {
  padding-top: 40px;
}
.pad-top.half {
  padding-top: 20px;
}

.pad-bottom {
  padding-bottom: 40px;
}
.pad-bottom.half {
  padding-bottom: 20px;
}

.pad-left {
  padding-left: 40px;
}
.pad-left.half {
  padding-left: 20px;
}

.pad-right {
  padding-right: 40px;
}
.pad-right.half {
  padding-right: 20px;
}

/* ############################################################################################ */
/* HTML5 BOILERLESS CLASSES */
/* ############################################################################################ */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
       http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/*# sourceMappingURL=child-theme.css.map */
