/*!
 *  FDC CookieLaw Tool - v1.4.5
 *  Cookie & Privacy management tool
 *  GitHub: https://github.com/FattiDiCookies/italianPrivacyPolicy/tree/master/dist/tool
 *  Docs: https://github.com/FattiDiCookies/italianPrivacyPolicy/wiki/FDC-Tool
 *  Bugs: https://github.com/FattiDiCookies/italianPrivacyPolicy/issues
 *
 *  (c) 2015 by FDC Crew
 *  Made by FDC Crew and released under MIT License
 */
/* ================================================ */
/* Banner */
/* ================================================ */
.fdc-cookielaw__banner {
  position: fixed;
  top: -101%;
  left: 0;
  right: 0;
  padding: 20px;
  font-family: sans-serif;
  background: #050505;
  color: #fff;
  z-index: 10000;
}
.no-bootstrap.fdc-cookielaw__banner a {
  color: #2976d0;
  text-decoration: none;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
.no-bootstrap.fdc-cookielaw__banner a:hover {
  color: #4189dd;
}
.fdc-cookielaw__banner.topBanner {
  top: -101%;
  bottom: auto;
  -webkit-transition: top 0.5s ease;
  transition: top 0.5s ease;
}
.fdc-cookielaw__banner.bottomBanner {
  top: auto;
  bottom: -101%;
  -webkit-transition: bottom 0.5s ease;
  transition: bottom 0.5s ease;
}
.fdc-cookielaw__banner.topBanner.showBanner {
  top: 0;
}
.fdc-cookielaw__banner.bottomBanner.showBanner {
  bottom: 0;
}
.fdc-cookielaw__banner-text p {
  margin: 0;
}
.fdc-cookielaw__policy-buttons {
  margin: 20px 0 0 0;
  padding: 20px 0 0 0;
  border-top: 1px solid #333;
}
.fdc-cookielaw__banner-buttons,
.fdc-cookielaw__policy-buttons {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #333;
}
.fdc-cookielaw__banner-buttons .button,
.fdc-cookielaw__policy-buttons .button {
  display: inline-block;
  color: #fff;
  background: #2976d0;
  font-size: 1.2em;
  padding: 5px 10px;
  margin: 0 10px 5px 0;
  text-decoration: none;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  -webkit-transition: background 0.2s ease, color 0.2s ease;
  transition: background 0.2s ease, color 0.2s ease;
}
.fdc-cookielaw__banner-buttons .button:hover,
.fdc-cookielaw__policy-buttons .button:hover {
  background: #4189dd;
  color: #fff;
}
.fdc-cookielaw__banner-buttons .button-red,
.fdc-cookielaw__policy-buttons .button-red {
  background: #b91313;
}
.fdc-cookielaw__banner-buttons .button-red:hover,
.fdc-cookielaw__policy-buttons .button-red:hover {
  background: #cb2727;
}
/* ================================================ */
/* Policy Page */
/* ================================================ */
.fdc-cookielaw__policy {
  margin: 40px 10%;
  font-family: sans-serif;
  font-size: 1em;
  color: #555;
}
.fdc-cookielaw__policy a {
  color: #555;
}
.fdc-cookielaw__policy p {
  margin: 0 0 1em 0;
  line-height: 1.3em;
}
.fdc-cookielaw__policy h5 {
  font-weight: bold;
  font-style: italic;
}
.fdctool__services .fdctool__services_cat .fdctool__services_cat-title {
  font-weight: 700;
}
.fdctool__services_item-choise {
  margin-top: 30px;
  margin-bottom: 30px;
}
.fdctool__services_item-choise h6 {
  margin: 0;
  font-weight: bold;
}
.fdctool__services_item-choise .fdctool__services_item-choise-panelbody p {
  font-size: 0.9em;
}
.fdctool__services_item-choise .fdctool__services_item-choise-panelbody .fdctool__services_item-choise-msg {
  font-size: 0.8em;
  font-weight: bold;
  display: none;
  padding: 15px 0 0 0;
}
.fdctool__services_item-choise.accepted h6 .choise-label.accepted {
  display: inline-block;
}
.fdctool__services_item-choise.accepted h6 .choise-label.rejected {
  display: none;
}
.fdctool__services_item-choise.rejected h6 .choise-label.accepted {
  display: none;
}
.fdctool__services_item-choise.rejected h6 .choise-label.rejected {
  display: inline-block;
}
