<div class="module__hotel-infos">
    <span class="hotel-address"><i class="icon_pin"></i> Strada Aeroporto Sant’Egidio 5, 06134 Ripa - Perugia (Italy)</span> 
    <span class="hotel-telephone"><i class="icon_phone"></i> +39 075 6020131</span>
    <span class="hotel-email"><i class="icon_mail"></i> info@riparelais.it</span>
</div>
