<form method="GET" class="module__custom-form booking-form" action="https://www.orangebooking.it/riparelais/" target="_blank">

    <input type="hidden" name="IDCOMPANY" value="1" />

    <div class="form-column">
        <h4>Data<br>di arrivo</h4>
        <!--Data checkin Es:20/12/2016-->
        <input type="text" class="ui-calendar" name="IN" value="dd/mm/yyyy" />
    </div>

    <div class="form-column">
        <h4>Data di partenza</h4>
        <!--Data checkout Es:21/12/2016-->
        <input type="text" class="ui-calendar" name="OUT" value="dd/mm/yyyy" />
    </div>

    <div class="form-column">
        <h4>Numero di camere</h4>
        <!--Numero camere Es: 1 (min 1 max 5-->
        <select class="ui-select" name="ROOMS_NUM">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </div>

    <div class="form-column">
        <h4>Adulti per camera</h4>
        <!--numero adulti per camera 1 (min 1 max 9)-->
        <select class="ui-select" name="R1_ADULT">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
        </select>
    </div>

    <div class="form-column">
        <h4>Bambini per camera</h4>
        <!--numero bambini per camera 1 (min 0 max 9)-->
        <select class="ui-select" name="R1_CHILD">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
        </select>
    </div>

    <div class="form-column">
        <h4>Bebè per camera</h4>
        <!--numero infanti per camera 1 (min 0 max 9)-->
        <select class="ui-select" name="R1_INFANT">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
        </select>
    </div>

    <div class="form-column">
        <button class="button" type="submit">Book</button>
    </div>

</form>