<div class="module__services-buttons">
    <div class="module__services-buttons_inner">

        <div class="single-service">
            <a href="#" class="single-service_link" title="Spa">
                <div class="single-service_image">
                    <img src="/wp-content/uploads/2017/08/spa_01_v.jpg" alt="spa">
                </div>
                <div class="single-service_text">
                    <h4>
                        Spa
                        <small>Bellezza e Relax per i tuoi momenti di piacere</small>
                    </h4>
                </div>
            </a>
        </div>

        <div class="single-service">
            <a href="#" class="single-service_link" title="Piscina">
                <div class="single-service_image">
                    <img src="/wp-content/uploads/2017/08/swimming_pool_01_v.jpg" alt="piscina">
                </div>
                <div class="single-service_text">
                    <h4>
                        Piscina
                        <small>Bellezza e Relax per i tuoi momenti di piacere</small>
                    </h4>
                </div>
            </a>
        </div>


        <div class="single-service">
            <a href="#" class="single-service_link" title="Ristorante">
                <div class="single-service_image">
                    <img src="/wp-content/uploads/2017/08/restaurant_01_v.jpg" alt="restaurant">
                </div>
                <div class="single-service_text">
                    <h4>
                        Ristorante
                        <small>Bellezza e Relax per i tuoi momenti di piacere</small>
                    </h4>
                </div>
            </a>
        </div>

        <div class="single-service">
            <a href="#" class="single-service_link" title="Attività">
                <div class="single-service_image">
                    <img src="/wp-content/uploads/2017/08/activities_01_v.jpg" alt="attività">
                </div>
                <div class="single-service_text">
                    <h4>
                        Attività
                        <small>Bellezza e Relax per i tuoi momenti di piacere</small>
                    </h4>
                </div>
            </a>
        </div>

    </div>
</div>