.cta-button,
a.cta-button,
button.cta-button {
    background: $color-1;
    color: $white;
    text-decoration: none;
    border: none;
    padding: $padding/4 $padding/2;
    text-transform: uppercase;
    font-weight: 700;
}