/* ICONS FONTS */
/* ========================================== */

// Elegant Icons
// -------------------------------
@font-face {
	font-family: 'ElegantIcons';
	src:url('../fonts/ElegantIcons/ElegantIcons.eot');
	src:url('../fonts/ElegantIcons/ElegantIcons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ElegantIcons/ElegantIcons.woff') format('woff'),
		url('../fonts/ElegantIcons/ElegantIcons.ttf') format('truetype'),
		url('../fonts/ElegantIcons/ElegantIcons.svg#ElegantIcons') format('svg');
	font-weight: normal;
	font-style: normal;
}


/* TYPOGRAPHY FONTS */
/* ========================================== */