.subscribeForm {
    width: 100%;
    .subscribeDataTable {
        margin: 0;
        padding: 0;
        h4.widgettitle {}
        .muDescription {}
        .muField {
            label {}
            input {
                @include form_input_common;
            }
            .sub-email {}
            .sub-phone {}
            .sub-ext1 {}
            .sub-ext2 {}
        }
        .muSubmit {
            input[type="submit"] {}
        }
    }
}

.module__mailupform {
    &.mailupform-home {
        .et_pb_widget.widget_wpmailup_widget.amr_widget {
            float: none;
            width: 100%;
        }
    }
}