html,
body {
    //font-family: $font_1;
    //font-weight: 300;
    //font-size: 16px;
}

a {
    color: $color_link-default;
    &:hover {
        color: $color_link-default_hover;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font_2;
    font-weight: 700;
}

h1,
.h1 {
    @include title_h1;
}

h2,
.h2 {
    @include title_h2;
}

h3,
.h3 {
    @include title_h3;
}

h4,
.h4 {
    @include title_h4;
}

h5,
.h5 {
    @include title_h5;
}

h6,
.h6 {
    @include title_h6;
}

img {
    backface-visibility: hidden;
}
