/*!
 *  ***************************************************
 *  boilerSASS
 *  ***************************************************
 *  Simple SASS Boilerplate based on HTML5 Boilerplate
 *  ***************************************************
*/

// This is just a simple demo for your custom style. You can replace this code with your own!



@media (max-width: 980px) {
    #et-mobile-navigation nav {
        overflow-y: scroll !important;
        max-height: 68vh;
    }
}


/* ****************************************+ */
/* jQuery UI */
/* ****************************************+ */

.ui-selectmenu-button.ui-button {
    width: 100%;
    border-radius: 0;
    border: none;
    @media all and(min-width: 1024px) {
        width: 95%;
    }
}

.ui-state-default, .ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
    background: $white;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
    border: 1px solid darken($color_cta_1, 5);
    background: darken($color_cta_1, 5);
    font-weight: normal;
    color: $white;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus {
    outline: none;
    background: rgba(0,0,0,0.1);
}

/* ****************************************+ */
/* HEADER */
/* ****************************************+ */
#et-navigation > ul > li {
	display: inline-block;
	text-transform: uppercase;
	margin: 0 12px;
}

/* ****************************************+ */
/* GENERIC */
/* ****************************************+ */

h1, h2, h3, h4, h5 {
    letter-spacing: 3px;
}

/*h2 {
    font-size: 30px !important;
}

.et_pb_column_1_3 h1, .et_pb_column_1_4 h1 {
    font-size: 45px;
}

.et_pb_button{
	border-radius: 0px;
    font-size: 14px;
}
.et_pb_button:hover:after{
    margin-top: -6px;
}

.et_pb_widget .widgettitle {
	background: $black;
	color: $white;
}

.whited,
.whited a,
.whited p{
	color: white;
}

.whited {
    h1, h2, h3, h4 {
        color: $black;
    }
}

.whited a{
	color: $black;
    transition: color 0.2s ease;
}

.whited a:hover{
	color: $white!important;
}

.whited a.et_pb_button {
    color: $black !important;
}

ul.list-flat.right{
	text-align: right;
}

ul.list-flat{
	list-style: none;
    margin: 0;
    padding: 0;
    li {
        text-transform: uppercase;
        border-bottom: 1px solid $black;
        margin-bottom: $margin/4;
        a {
            display: block;
            &:hover {
                color: #b29a53;
            }

        }
    }
}


span.sub {
	font-size: 12px;
	margin: 0;
	padding: 0;
}

.et_pb_sum, .et_pb_pricing li a,
.et_pb_pricing_table_button,
.et_overlay:before,
.et_pb_member_social_links a:hover,
.woocommerce-page #content input.button:hover .et_pb_widget li a:hover,
.et_pb_bg_layout_light .et_pb_promo_button,
.et_pb_bg_layout_light.et_pb_module.et_pb_button,
.et_pb_bg_layout_light .et_pb_more_button,
.et_pb_filterable_portfolio .et_pb_portfolio_filters li a.active,
.et_pb_filterable_portfolio .et_pb_portofolio_pagination ul li a.active,
.et_pb_gallery .et_pb_gallery_pagination ul li a.active,
.et_pb_contact_submit, .et_pb_bg_layout_light .et_pb_newsletter_button,
.woocommerce-page #content input.read-more-button:hover .et_pb_widget li a:hover,
.woocommerce-page #content input.button:hover .et_pb_widget.woocommerce .product_list_widget li a:hover,
.woocommerce-page #content input.post-nav .nav-links .button:hover .et_pb_widget li a:hover{
	color: $black;
}*/

.et_pb_column_1_2 .et_pb_slide_content,
.et_pb_column_3_4 .et_pb_column_3_8 .et_pb_slide_content,
.et_pb_column_1_3 .et_pb_slide_content,
.et_pb_column_1_4 .et_pb_slide_content {
    font-size: 16px;
    line-height: 1.2em;
}

.et_pb_post_slider {
    .et_pb_slides  {
        .et_pb_slide {
            padding: 0;
            .et_pb_slide_title {
                margin-bottom: $margin/2!important;
            }
        }
    }
    &.et_pb_bg_layout_light {
        background: transparent;
    }
}

.archive h1 {
    line-height: 1em;
    margin: 0 0 7px;
}

.text-center{
    text-align: center;
}


.svg-divider {
    text-align: center;
    .fil0 {
        fill: $color_1;
    }
}

/* ****************************************+ */
/* SECTIONS */
/* ****************************************+ */

.et_pb_post_slider.et_pb_bg_layout_dark {
    background: transparent!important;
}



.section-full {}

.section-colored {

}

.section-colored_color-1 {
    background-color: #b89685!important;
}

.section__services {}


.row__services {
    .et_pb_blurb {
        .et_pb_blurb_content {
            position: relative;
            .et_pb_main_blurb_image {}
            .et_pb_blurb_container {
                position: absolute;
                @include place(0,0,0,0);
                background-color: rgba(0,0,0,0.3);
                @include transition(background,0.2s,ease);
                &:hover {
                    background-color: rgba(0,0,0,0.1);
                }
                h4 {
                    color: $white;
                    font-size: 2em;
                    margin: 0;
                    padding: 0;
                    position: absolute;
                    @include place(auto,$padding/2,$padding/2,$padding/2);
                    a {
                        color: $white;
                        font-size: 2em;
                    }
                }
            }
        }
    }
}

#footer {
    .container {
        max-width: none;
    }
}


.et_pb_extra_column_sidebar {
    .et_pb_widget {
        display: block;
        background: #FFFFFF;
        width: 100%;
        border-radius: 0;
        box-shadow: none;
        margin: 0 0 24px;
        overflow: hidden;
        border: 1px solid #efefef;
        .widgettitle {
            background: transparent;
            padding-bottom: 0;
            margin-bottom: 0;
            color: $gray-light;
            font-size: 1.8em!important;
            font-weight: 300;
        }
    }
}

.et-pb-controllers a {
    border-radius: 0;
    width: 18px;
    height: 18px;
}

.row__article-sliders {
    .et_pb_post_slider {
        border-bottom: 8px solid $color-1;
    }
    .et_pb_slides {}
    .et_pb_slide_content {
        text-transform: uppercase!important;
        font-weight: 700;
    }
}


/* LANDING PAGES */

.fc-theme__landingpage {
    font-size: 16px;
    padding-top: 0!important;
    h1 {
        margin: 0 0 $margin/2 0;
    }
    .fc-theme__landingpage_header {
        img {
            width: 100%;
        }
        position: relative;
        .fc-theme__landingpage_header_title {
            text-align: center;
            position: absolute;
            @include place(50%,0,auto,0);
            @include translate-50Y;
            .module_double-title {
                .title-background {}
                .title-front {
                    font-family: $font_custom_2;
                    text-transform: uppercase;
                    color: $color_1;
                }
            }
        }
    }
}

.fc-theme__landingpage_row {

    padding: $padding 0;
    @media all and(min-width: 1024px) {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .fc-theme__landingpage_col {
        width: 100%;
        @media all and(min-width: 1024px) {
            width: 50%;
        }
    }
}

.fc-theme__landingpage_dates {
    font-size: 1.2em;
    padding: $padding/2 0;
    div {
        display: inline-block;
    }
}

.fc-theme__landingpage_list {
    @include resetlist;
    padding: $padding 0;
    li {
        font-size: 1.5em;
        i {
            color: $color_1;
        }
    }
}

.fc-theme__landingpage_price {
    width: 90%;
    padding: $padding 0;
    border-top: 1px solid $gray_extra_light;
    font-size: 3.2em;
    span {
        display: inline-block;
    }
    .price-start-from {
        font-style: italic;
        display: block;
        margin-bottom: $margin/4;
        line-height: 2em;
    }
    .price-currency {
        font-weight: 700;
        //font-size: 2em;
    }
    .price-amount {
        font-weight: 700;
        //font-size: 2em;
    }
    .price-for {
        display: block;
        line-height: 3em;
        font-size: 0.4em;
    }
}

.fc-theme__landingpage_bookbutton {
    margin-top: $margin;
    margin-bottom: $margin;
    .button {
        padding: 0em 1em 0.3em 1em;
        margin: 0em 0em 0.3em 0em;
    }
    @media all and(min-width: 1024px) {
        margin-bottom: 0;
    }
}

.fc-theme__landingpage_excerpt {
    font-size: 1.5em;
}

.fc-theme__landingpage_content {
    padding-top: $padding;
    padding-bottom: $padding;
    margin-top: $margin auto;
    border-top: 1px solid $gray_extra_light;
    h3 {
        margin-bottom: $margin/2;
    }
}

.fc-theme__landingpage_form {
    padding: $padding;
    background: $gray_extra_light;
    h4 {
        font-size: 1.7em!important;
        margin: 0;
    }
    p.fc-theme__landingpage_form-description {
        font-size: 1.3em;
        padding: $padding/2 0 $padding 0;
        font-style: italic;
    }
    label {
        text-transform: uppercase;
        font-weight: 700;
        color: $color_1;
    }
}

.fc-theme__landingpage_bookingform {
    background: $color_1;
    padding: $padding 0;
    h3,h4 {
        font-size: 1.3em;
        color: $white;
    }
}

.wpcf7-form-control-wrap {
    display: block;
    margin-bottom: $margin/4;
}
.wpcf7-form-control {
    border: 1px solid $gray_extra_light!important;
    width: 100%!important;
}

#footer {
    color: $white;
}

#main-content {
    padding-top: 65px;
}

.et_pb_widget.google-reviews-widget {
    padding: $padding/2;
    h2 {
        background: transparent;
        padding-bottom: 0;
        margin-bottom: $margin/2;
        color: #ccc;
        font-size: 1.8em !important;
        font-weight: 300;
    }
}

.menu-item-1501 {
    a {
        color: $color_cta_1!important;
        font-weight: 700!important;
        &:hover {
            color: $color_cta_1_hover!important;
        }
        &:before {
            opacity: 1;
            background-color: $color_cta_1!important;
        }
    }
}

.custom-cta-module {
    h2 {
        font-size: 38px!important;
        font-weight: 700;
        margin-bottom: $margin/2;
    }
}

#et-secondary-menu.nav {
    .phonelink,
    .maillink {
        span {
            display: none;
            @media all and (min-width: $breakpoint_tablet) {
                display: inline;
            }
        }
    }
}