/*
 *  ***************************************************
 *  boilerSASS
 *  ***************************************************
 *  Simple SASS Boilerplate based on HTML5 Boilerplate
 *  ***************************************************

 *  VARIABLES FILE
*/

// =================================
// SIZES VARS
// =================================

$space: 40px;
$padding: $space;
$margin: $space;

// =================================
// BREKPOINTS
// =================================
$breakpoint_phone: 600px;
$breakpoint_tablet: 768px;
$breakpoint_desktop: 1024px;
$breakpoint_over: 1200px;


// =================================
// ALL COLORS
// =================================
$red: red;
$green: #58B09C;
$yellow: yellow;
$blue: blue;
$blu: $blue;
$orange: orange;
$purple: purple;
$violet: violet;
$magenta: magenta;
$cyan: cyan;


// =================================
// COLORS PALETTE
// =================================

$color_1: #b89685;
$color_1_hover: #b89685;

$color_2: #c6538c;
$color_2_hover: #de609e;

$color_3: #000;
$color_3_hover: #333;

$color_4: #000;
$color_4_hover: #333;

$color_cta_1: $green;
$color_cta_1_hover: lighten($green, 5);

// =================================
// GRAYSCALE
// =================================

$black: #212121;
$white: #fff;

$gray_extra_light: #efefef;
$gray_light: #ccc;
$gray_middle: #999;
$gray_dark: #555;
$gray_extra_dark: #333;

// =================================
// GLOBALS VARS
// =================================

$body_margin: 0;
$body_padding: 0;

$hr_height: 1px;
$hr_border_width: 1px;
$hr_border_style: solid;
$hr_border_color: $gray_light;
$hr_margin_top: $space/2;
$hr_margin_bottom: $space/2;



// -------- Default Links

$link_color: #212121;
$link_color_hover: #2e2c2c;
$link_decoration: none;
$link_decoration_hover: none;

$link_color_active: #2e2c2c;
$link_decoration_active: none;

$link_color_visited: #2e2c2c;
$link_decoration_visited: none;

$link_color_focus: #2e2c2c;
$link_decoration_focus: none;
$link_outline_focus: none;

// =================================
// TYPOGRAPHY VARS
// =================================

$text_selection_bgcolor: $gray_extra_light;
$text_selection_textshadow: none;

// FONTS
// **************************

// ---- Base Font
$font_base: Helvetica, Arial, sans-serif;
$font_base_color: $gray_extra_dark;
$font_base_size: 16px;
$font_base_small_size: 0.8em;
$font_base_weight: 400;
$font_base_strong_weight: 700;
$font_base_lineheight: 1em;

// ---- Custom Fonts
$font_custom_1: "Raleway", $font_base;
$font_custom_2: "Playfair Display";
$font_custom_3: "Herr Von Muellerhoff", $font_base;
$font-icon-1: "FontAwesome";
$font-icon-2: "FontAwesome";

// ---- HTML/BODY Font
$body_font_family: $font_custom_2;

// ---- Font sizes
$font_mini: 0.5em;
$font_smaller: 0.8em;
$font_small: 0.7em;
$font_larger: 1.3em;
$font_large: 1.5em;
$font_big: 2em;

// PARAGRAPHS
$p_margin: 0 0 1em 0;
$p_padding: 0;
$p_size: inherit;
$p_color: inherit;
$p_lineheight: 1.4em;

// LISTS

// ---- Unordered List
$ul_list_style_type: inherit;
$ul_margin: 0;
$ul_padding: 0 0 0 $space;

// HEADLINES
// **************************

$h_default_margin: 0 0 1em 0;
$h_default_padding: 0;
$h_default_small_color: $gray_middle;
$h_default_small_size: 0.5em;
$h_default_lineheight: 1em;
$h_default_fontweight: 700;

$h_default_font: inherit;

// ----- H1
$h1_font: $h_default_font;
$h1_size: 28px;
$h1_color: inherit;
$h1_fontwheigth: $h_default_fontweight;
$h1_small_size: $h_default_small_size;
$h1_small_color: $h_default_small_color;
$h1_margin: $h_default_margin;
$h1_padding: $h_default_padding;

// ----- H2
$h2_font: $h_default_font;
$h2_size: 26px;
$h2_color: inherit;
$h2_fontwheigth: $h_default_fontweight;
$h2_small_size: $h_default_small_size;
$h2_small_color: $h_default_small_color;
$h2_margin: $h_default_margin;
$h2_padding: $h_default_padding;

// ----- H3
$h3_font: $h_default_font;
$h3_size: 24px;
$h3_color: inherit;
$h3_fontwheigth: $h_default_fontweight;
$h3_small_size: $h_default_small_size;
$h3_small_color: $h_default_small_color;
$h3_margin: $h_default_margin;
$h3_padding: $h_default_padding;

// ----- H4
$h4_font: $h_default_font;
$h4_size: 22px;
$h4_color: inherit;
$h4_fontwheigth: $h_default_fontweight;
$h4_small_size: $h_default_small_size;
$h4_small_color: $h_default_small_color;
$h4_margin: $h_default_margin;
$h4_padding: $h_default_padding;

// ----- H5
$h5_font: $h_default_font;
$h5_size: 20px;
$h5_color: inherit;
$h5_fontwheigth: $h_default_fontweight;
$h5_small_size: $h_default_small_size;
$h5_small_color: $h_default_small_color;
$h5_margin: $h_default_margin;
$h5_padding: $h_default_padding;

// ----- H6
$h6_font: $h_default_font;
$h6_size: 18px;
$h6_color: inherit;
$h6_fontwheigth: $h_default_fontweight;
$h6_small_size: $h_default_small_size;
$h6_small_color: $h_default_small_color;
$h6_margin: $h_default_margin;
$h6_padding: $h_default_padding;


$h1_size_tablet: 32px;
$h2_size_tablet: 30px;
$h3_size_tablet: 28px;
$h4_size_tablet: 26px;
$h5_size_tablet: 24px;
$h6_size_tablet: 22px;

$h1_size_desktop: 36px;
$h2_size_desktop: 34px;
$h3_size_desktop: 32px;
$h4_size_desktop: 30px;
$h5_size_desktop: 28px;
$h6_size_desktop: 26px;

$h1_size_over: 46px;
$h2_size_over: 44px;
$h3_size_over: 42px;
$h4_size_over: 40px;
$h5_size_over: 38px;
$h6_size_over: 36px;



$table_border: 1px solid $gray_light; // for tab-bordered class only
$table_margin: 0 0 $margin/2 0;
$table_cell_padding: $padding/4;
$table_head_color: inherit;
$table_head_background: transparent;
$table_head_fontsize: 1.2em;

$table_zebra_odd_color: inherit;
$table_zebra_odd_background: $gray_extra_light;
$table_zebra_even_color: inherit;
$table_zebra_even_background: transparent;


