@mixin font_default {
    font-family: $font_1;
    font-weight: 300;
}

@mixin font_default_regular {
    font-family: $font_1;
    font-weight: 300;
}

@mixin font_default_light {
    font-family: $font_1;
    font-weight: 300;
}

@mixin font_default_medium {
    font-family: $font_1;
    font-weight: 600;
}

@mixin font_default_bold {
    font-family: $font_1;
    font-weight: 700;
}

@mixin title_h1 {
    font-family: $font_title_1;
    font-weight: 700;
    font-size: 3em;
}

@mixin title_h1_extralarge {
    font-family: $font_title_1;
    font-weight: 700;
    font-size: 7em;
}

@mixin title_h2 {
    font-family: $font_title_1;
    font-weight: 700;
    font-size: 2.5em;
}

@mixin title_h3 {
    font-family: $font_title_1;
    font-weight: 700;
    font-size: 2em;
}

@mixin title_h4 {
    font-family: $font_title_1;
    font-weight: 700;
    font-size: 1.8em;
}

@mixin title_h5 {
    font-family: $font_title_1;
    font-weight: 700;
    font-size: 1.5em;
}

@mixin title_h6 {
    font-family: $font_title_1;
    font-weight: 700;
    font-size: 1.3em;
}

@mixin default_link {
    color: $color_link-default;
    @include transition(color,0.2s,ease);
    &:hover {
        color: $color_link-default_hover;
    }
}

@mixin divibutton_reset {
    background: $black;
    color: $white;
    padding: 0.3em 1em;
    border: none;
    border-radius: 0;
    &:hover {
        padding: 0.3em 1.5em 0.3em 1em;
        border-radius: 0;
        border: none;
    }
}

@mixin cta_booking {
    @include divibutton_reset;
    background: $black;
    color: $white;
    text-transform: uppercase;
    &:hover {
        background: lighten( $black, 10% );
    }
}

@mixin resetlist {
    margin: 0;
    padding: 0!important;
    list-style-type: none!important;
}

@mixin transition ( $property, $duration, $style) {

    -webkit-transition-property: $property;
    -webkit-transition-duration: $duration;
    -webkit-transition-timing-function: $style;

            transition-property: $property;
            transition-duration: $duration;
            transition-timing-function: $style;
}

// Transforms //
// ********************** //
@mixin transform ( $transformProperties ) {
    -webkit-transform: $transformProperties;
            transform: $transformProperties;
}

// Transforms > Translate //
// ********************** //
@mixin translate ( $x, $y ) {
    -webkit-transform: translate($x,$y);
            transform: translate($x,$y);
}

@mixin translate-50Y {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
}

@mixin translate-50X {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
}

@mixin translate-50 {
    -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
}

// Ellipsis //
// ********************** //
@mixin ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

// Placeholder //
// ********************** //
@mixin placeholder($color,$size,$weight) {
    ::-webkit-input-placeholder {color:$arguments; font-size: $size; font-weight: $weight;}
    ::-moz-placeholder {color:$arguments; font-size: $size; font-weight: $weight;}
    :-ms-input-placeholder {color:$arguments; font-size: $size; font-weight: $weight;}
}

@mixin form_input_common {
    display: block;
    border: 1px solid $gray_light;
    width: 100%;
    height: 50px;
    padding: $padding/8 $padding/4;
}

// Position //
// ********************** //
@mixin place($top,$right,$bottom,$left) {
    top:$top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

// Size
// ********************** //
@mixin size($width, $height) {
    width: $width;
    height: $height;
}

// Border //
// ********************** //
@mixin border($size, $style, $col) {
    border-width: $size;
    border-style: $style;
    border-color: $col;
}


// BoxSizing //
// ********************** //
@mixin boxsizing($property) {
  -webkit-box-sizing: $property;
     -moz-box-sizing: $property;
          box-sizing: $property;
}

// Clearfix
// ********************** //
@mixin clearfix {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
    *zoom: 1;
}

//@mixin cfix

// Ratio Mixin
// ********************** //
@mixin ratio_16-9 {
    position: relative;
    &:before {
        content: "";
        display: block;
        padding-top: 56.25%;
    }
}

@mixin ratio_4-3{
    position: relative;
    &:before {
        content: "";
        display: block;
        padding-top: 75%;
    }
}

@mixin ratio_8-5 {
    position: relative;
    &:before {
        content: "";
        display: block;
        padding-top: 62.5%;
    }
}

@mixin ratio_3-2 {
    position: relative;
    &:before {
        content: "";
        display: block;
        padding-top: 66%;
    }
}

@mixin ratio_1-2 {
    position: relative;
    &:before {
        content: "";
        display: block;
        padding-top: 50%;
    }
}

@mixin ratio_1-1 {
    position: relative;
    &:before {
        content: "";
        display: block;
        padding-top: 100%;
    }
}

@mixin ratio_content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}