$space: 40px;
$margin: $space;
$padding: $space;

$white: #fff;
$black: #212121;

$gray_extralight: #efefef;
$gray_light: #ccc;
$gray_middle: #999;
$gray_dark: #555;
$gray_extradark: #333;

$font_1: "Geogrotesque", Helvetica, Arial, Lucida, sans-serif;
$font_2: "Geogrotesque", Helvetica, Arial, Lucida, sans-serif;

$font_icon_1: "ElegantIcons";
$font_icon_2: "FontAwesome";

$color_1: #c20f21;
$color_1_hover: #9c1614;

$color_2: #222222;
$color_2_hover: #222222;

$color_link-default: inherit;
$color_link-default_hover: inherit;


$padding: 40px;
$margin: 40px;

$font_title_1: $font_2;
$font_title_2: $font_2;