.button {
    @include button;
    &.button-red {
        @include button-color($red,$white);
    }
    &.button-orange {
        @include button-color($orange,$white);
    }
    &.button-yellow {
        @include button-color($yellow,$gray_dark);
    }
    &.button-green {
        @include button-color($color_cta_1,$white);
    }
    &.button-purple {
        @include button-color($purple,$white);
    }
    &.button-wa {
        //@include button-color($white,#2c8f00);
        line-height: 1em;
        height: auto;
        padding: 8px 15px;
        background: $white!important;
        color: #2c8f00!important;
        border: 1px solid #2c8f00!important;
        img {
            height: 20px;
            width: auto;
        }
        &:hover {
            color: rgba(#2c8f00,0.8)!important;
            border-color: rgba(#2c8f00,0.8)!important;
        }
    }
}

a.more-link {
	color: #fff!important;
	background: #000;
	display: inline-block;
	margin: 20px 0 0 0;
	padding: 5px 10px;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 700;
}

.et_pb_post .button.button-booking {
    height: auto;
    line-height: 16px;
    padding: 5px 10px;
    margin: 20px 0 0 0;
    font-size: 0.8em!important;
    border: none!important;
    margin-left: $margin/4;
}

.et_pb_button,
.et_pb_more_button.et_pb_button,
.et_pb_contact_submit.et_pb_button,
.button,
button,
button[type="submit"],
input[type="submit"],
input[type="reset"],
input[type="button"],
.read-more-button,
#et-info .et-cart,
.comment-body .comment_area .comment-content .reply-container .comment-reply-link,
.et_pb_widget.widget_tag_cloud a {
    font-size: 1em!important;
    text-transform: uppercase!important;
    background: $black!important;
    color: $white!important;
    border-radius: 0!important;
    border: 1px solid $black!important;
    padding: 0.3em 1em 0.3em 1em;
    @include transition(all,0.2s,ease);
    &:hover {
        border-radius: 0!important;
        border: 1px solid $black!important;
    }
    &:before,
    &:after {
        font-size: 1.5em;
    }
}

.et_pb_widget {
    a.button {
        margin-top: $margin/2;
        line-height: 29px!important;
    }
}
