.single,
.page {
    article {
        margin: 0 0 $margin;
        padding: 0;
        background: $white;
        border-radius: 3px;
        box-shadow: none;
        //border: 1px solid $gray-extra-light;
        //box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    }
}

.post {
    .post-thumbnail {
        margin-bottom: 0;
    }
    .post-header {
        width: 100%;
        padding: $padding 0 0 0;
        box-sizing: border-box;
        text-align: left;
        .entry-title {
            margin-bottom: $margin/2;
            font-weight: 300;
        }
    }
    .post-wrap {
        padding: 0;
    }
    .post-content {
        .et_pb_section {
            @media (min-width: 981px) {
                padding: 0;
            }
            .et_pb_row {
                width: 100%;
                padding: 0 0 4% 0!important;
            }
        }
    }

}

.et_pb_blog_grid_wrapper {
    h2.entry-title {
        font-size: 30px!important;
    }
}


.related-posts {
    border-radius: 0;
    box-shadow: none;
    border-width: 1px;
    border-style: solid;
    border-color: $gray_extra_light!important;
    .related-posts-header {
        h3 {
            font-size: 18px!important;
            @media all and (min-width: $breakpoint_over) {
                font-size: 24px!important;
            }
        }
    }
    .related-posts-content {
        .related-post {}
        .featured-image {}
        h4.title,
        h4.title a {
            font-size: 22px!important;
        }
    }
}


.page-id-138 {
    .et_pb_section  {
        padding: $padding*2 0!important;
    }
    .et_pb_section_0 {
        padding-bottom: 0!important;
    }
    .et_pb_section_1 {
        padding-bottom: 0!important;
    }
    .et_pb_row {
        padding: 0;
    }
    .et_pb_column_28 {
        padding-bottom: $padding;
    }
    h2 {
        margin-bottom: $margin/2!important;
    }

    h3 {
        font-size: 24px!important;
        margin-bottom: $margin/4!important;
    }

    h4 {
        font-size: 22px!important;
        margin-bottom: $margin/4!important;
    }
}

#top-header,
#et-secondary-menu {
    background-color: $color_1!important;
}

#et-secondary-menu.nav {
    li {
        a {
            color: $white;
            text-transform: uppercase;
            font-size: 0.9em;
            &:hover {
                &:before {
                    display: none;
                }
            }
        }
        &.menu-item-1279 {
            a {
                display: inline-block;
                background: $color_cta_1;
                padding: 10px;
                font-weight: 700;
                &:hover {
                    background: $color_cta_1_hover;
                    color: $white;
                }
            }
        }
    }
}

#page_riparelais {
    h1 {
        margin: 0;
    }
}