/*!
 *  ***************************************************
 *  boilerSASS
 *  ***************************************************
 *  Simple SASS Boilerplate based on HTML5 Boilerplate
 *  ***************************************************

 *  FORM STYLE
*/

// Warning: Form style is not complete (I'm working on it)

/*
label {
    color: @label-color;
    font-weight: @label-weight;
    margin: @label-margin;
    padding: @label-padding;
}

input,
textarea {
    color: @inp-color;
    margin: @inp-margin;
    padding: @inp-padding;
    border: @inp-border;
    border-radius: @inp-radius;
}
*/


.input, .textarea, select, textarea, input, input[type="text"], input[type="password"], input[type="email"], input[type="search"] {
    border-radius: 0;
    padding: 6px 12px;
    background: $white;
}

.module__custom-form {

    display: flex;
    flex-direction: column;
    @media all and(min-width: 1024px) {
        flex-direction: row;
    }
    .form-column {
        width: 100%;
        overflow: hidden;
        margin-bottom: $margin/2;
        @media all and(min-width: 1024px) {
            flex-direction: row;
            width: 16.6666%;
            margin-bottom: 0;
        }
        h4,
        .h4 {
            color: $white;
            font-size: 1em!important;
            margin-bottom: $margin/4;
            @media all and(min-width: 1024px) {
                margin-bottom: $margin/8;
            }
        }
        input,select {
            width: 100%;
            cursor: pointer;
            transition: none;
            &:hover {
                background: rgba(0,0,0,0.1);
            }
            @media all and(min-width: 1024px) {
                width: 95%;
            }
        }
        button {
            display: block;
            margin: 36px 0 0 0;
            width: 100%;
            border: 1px solid $color_cta_1!important;
            border-radius: 0;
            background: $color_cta_1!important;
            color: $white!important;
            height: auto;
            padding: 6px 12px;
            &:hover {
                border: 1px solid $color_cta_1_hover!important;
                background: $color_cta_1_hover!important;
                color: $white!important;
            }
        }
    }
}

.module__globalform {
    .wpcf7 {
        margin-top: $margin;
        .wpcf7-form {
            label {
                border: 0;
                clip: rect(0 0 0 0);
                height: 1px;
                margin: -1px;
                overflow: hidden;
                padding: 0;
                position: absolute;
                width: 1px;
            }
            br {
                display: none;
            }
            .wpcf7-form-control {
                background-color: #eee;
                border: none;
                width: 100%;
                border-radius: 0;
                font-size: 14px;
                color: #999;
                padding: 16px;
            }
            .privacy-field {
                margin-bottom: $margin/2;
            }
            .wpcf7-form-control-wrap.acceptance-244 {
                display: inline-block;
            }
            .wpcf7-acceptance {
                background: transparent;
                color: $gray_dark;
                border: none!important;
                padding: 0;
                .wpcf7-list-item {
                    margin: 0;
                    padding: 0;
                }
            }
            .wpcf7-submit {
                padding: 12px;
                display: inline-block;
                width: auto!important;

            }
        }
    }
}

