/* ************************************** */
/* SVG Divider
    (for module saved on DIVI Library) */
/* ************************************** */

.svg-divider {
    text-align: center;
    .fil0 {
        fill: $color_1;
    }
}



/* ************************************** */
/* Module Hotel Infos */
/* ************************************** */
.module__hotel-infos {
    color: $white;
    text-align: center;
    span {
        margin-right: $margin/8;
    }
}

.module__simple-title {
    text-align: center;
    margin-bottom: $margin!important;
    h1,h2 {
        margin-bottom: $margin/4;
    }
}

/* ************************************** */
/* Module Double Title */
/* ************************************** */

.module_double-title,
.module__double-title {

    text-align: center;
    position: relative;
    margin-bottom: $margin;

    .title-background {
        font-family: $font_custom_3;
        font-size: 4em;
        line-height: 1em;
        color: $gray_light;
    }

    .title-front {
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        line-height: 1em;
        position: absolute;
        @include place(auto,0,0,0);
        margin: 0;
        padding: 0;
        font-weight: 300;
        font-family: $font_custom_2;
        small {
            display: block;
            line-height: 0.5em;
            font-size: 0.3em;
            letter-spacing: 7px;
        }
    }

    @media all and (min-width: $breakpoint_tablet) {
        .title-background {
            font-size: 8em;
        }
        .title-front {
            font-size: 2.5em!important;
        }
    }

    @media all and (min-width: $breakpoint_desktop) {
        .title-background {
            font-size: 9em;
        }
        .title-front {
            font-size: 4em!important;
        }
    }

}

/* ************************************** */
/* Module Services Buttons */
/* ************************************** */

.module__services-buttons {
    .module__services-buttons_inner {
        @include clearfix;
        .single-service {
            float: left;
            width: 100%;
            margin-bottom: 1px;

            @media all and(min-width: $breakpoint_tablet) {
                width: 50%;
            }

            @media all and(min-width: 980px) {
                width: 25%;
                margin-bottom: 0;
            }

            a.single-service_link {
                display: block;
                position: relative;
                color: $white;
                .single-service_image {
                    display: none;
                    img {
                        width: 100%;
                    }
                    @media all and(min-width: 980px) {
                        display: block;
                    }
                }
                .single-service_text {

                    background-color: rgba(0,0,0,0.2);
                    @include transition(background,0.2s,ease);

                    @media all and(min-width: 980px) {
                        position: absolute;
                        @include place(0,0,0,0);
                    }

                    h4 {
                        color: $white;
                        background: rgba(0,0,0,0.5);
                        font-size: 2em!important;
                        margin: 0;
                        padding: 0;
                        //position: absolute;
                        backface-visibility: hidden;
                        padding: $padding/2;
                        width: 100%;
                        font-weight: 300;
                        //height: 104px;
                        //@include place(auto,0,0,0);
                        @include transition(all,0.2s,ease);
                        small {
                            display: block;
                            font-size: 0.3em;
                            font-family: $font_custom_1;
                            color: $white;
                            overflow: hidden;
                            line-height: 1.3em;
                            width: 100%;
                            @include ellipsis;
                            @include transition(all,0.2s,ease);
                        }

                        @media all and(min-width: 980px) {
                            height: 104px;
                            position: absolute;
                            @include place(auto,0,0,0);
                        }


                    }
                }
                &:hover {
                    .single-service_text {
                        background-color: transparent;
                        h4 {
                            height: 50%;
                            small {
                                color: $white;
                                @include no_ellipsis;
                            }
                        }
                    }
                }
            }
        }
    }
}


/* ************************************** */
/* Module Hotel Room Infos */
/* ************************************** */

.hotel-room-smalltitle {
    text-transform: uppercase;
    font-weight: 700;
}

.module__hotel-room-infos {
    margin: $margin 0;
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        li {
            //display: inline-block;
            margin: 0;
            .room-info {
                .info-label {
                    font-weight: 700;
                    text-transform: uppercase;
                }
                .svg-icon {
                    display: block;
                    margin: 0 $margin/8 $margin/8 0;
                    border-radius: 6px;
                    padding: $padding/8;
                    border: 1px solid $gray_light;
                    svg {
                        width: 40px;
                        height: 40px;
                        .svg-path,
                        .svg-polygon,
                        .svg-rect,
                        .svg-circle {
                            fill: $gray_light;
                        }
                    }
                }
            }
        }
    }
    ul.room-identity {
        li {
            margin: 0 $margin/4 $margin/8 0;
        }
    }

    ul.room-beds {
        padding-top: 24px;
        margin-top: 10px;
        border-top: 1px solid $gray_extra-light;
    }

    ul.room-amenities {
        padding-bottom: 24px;
        margin-bottom: 0;
        border-bottom: 1px solid $gray_extra-light;
    }
}


/* ************************************** */
/* Module CTA (Divi) */
/* ************************************** */

.module__cta_green {
    .et_pb_promo_button.et_pb_button {
        background: $color_cta_1!important;
        border-color: $color_cta_1!important;
        color: $white!important;
        &:hover {
            background: $color_cta_1_hover!important;
            color: $white!important;
        }
    }
}



/* ************************************** */
/* Module CONTACT FORM (Divi) */
/* ************************************** */
.module__form {}

.module__form-moreinfo {
    .et_pb_contact_main_title {
        font-size: 1.5em!important;
    }
}


.menu-footer-menu-container {
    width: 80%;
}



.et_pb_blog_grid {
    .et_pb_post {
        @media (min-width: 1200px) {
            h2, .h2 {
                //font-size: 25px !important;
                margin-bottom: $margin/4;
            }
        }
    }
}

$scale_factor: 1.2;

.special-offers-slider {
    .et_pb_slides {
        .et_pb_slide {
            @include transition(all,0.5s,ease);
            .et_pb_container {
                height: 500px!important;
            }
            &.et-pb-active-slide {
                &:hover {
                    //background-size: 130%;
                    -webkit-transform: scale($scale_factor);
                            transform: scale($scale_factor);
                    .et_pb_slide_description {
                        -webkit-transform: scale(1/$scale_factor);
                                transform: scale(1/$scale_factor);
                    }
                }

            }
        }
    }
}

#top-header {
    position: fixed;
    @include place(0,0,auto,0);
}
#main-header-wrapper {
    position: fixed;
    @include place(50px,0,auto,0);
}
@media only screen and (max-width: 1024px) {
    #top-header {
        display: block;
    }
    #et-info {
        display: none;
    }
    /*.menu-item-1275 {
        display: none!important;
    }*/
}

#et-info .et-top-search .et-search-submit {
    background: transparent!important;
    border: none!important;
}

@media only screen and (min-width: 1024px) {
    .et_fixed_nav .et-fixed-header #main-header {
        position: fixed;
        width: 100%;
        top: 50px;
    }
}

#et-secondary-nav {
    order: 2;
}


.et_pb_gallery {
    .et_pb_gallery_item {
        .et_pb_gallery_image {
            @include transition(all,0.5s,ease);
            overflow: hidden;
            a {
                img {
                    @include transition(all,0.5s,ease);
                }
                .et_overlay {
                    display: none!important;
                }
                &:hover {
                    img {
                        opacity: 0.8;
                        -webkit-transform: scale($scale_factor);
                                transform: scale($scale_factor);
                    }
                }
            }
        }
    }
}