/*
Puoi aggiungere qui il tuo codice CSS.

Per maggiori informazioni consulta la documentazione (fai clic sull'icona con il punto interrogativo qui sopra).
*/

/* HEADER */
#et-navigation > ul > li {
	display: inline-block;
	text-transform: uppercase;
	margin: 0 12px;
}

/* GENERIC */

h1, h2, h3, h4, h5 {
    letter-spacing: 3px;
}

.et_pb_column_1_3 h1, .et_pb_column_1_4 h1 {
    font-size: 45px;
}

.et_pb_button{
	border-radius: 0px;
    font-size: 14px;
}
.et_pb_button:hover:after{
    margin-top: -6px;
}

.et_pb_widget .widgettitle {
	background: #000;
	color: #fff;
}

.whited,
.whited a,
.whited p{
	color: white;
}

.whited h1,.whited h2,.whited h3,.whited h4{
	color: #b29a53;
}

.whited a{
	color: #fff;
}

.whited a:hover{
	color: #b29a53;	
}

.whited a.et_pb_button:hover {
    color: #fff;
}

ul.list-flat.right{
	text-align: right;
}

ul.list-flat{
	list-style: none;
    margin: 0;
    padding: 0;
}

ul.list-flat li{
	text-transform: uppercase;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 4px;
}
ul.list-flat li a{
	widows: 100%;
	display: block;
}

ul.list-flat li a:hover{
	color: #b29a53;
}

span.sub {
	font-size: 12px;
	margin: 0;
	padding: 0;
}

.et_pb_sum, .et_pb_pricing li a,
.et_pb_pricing_table_button,
.et_overlay:before,
.et_pb_member_social_links a:hover,
.woocommerce-page #content input.button:hover .et_pb_widget li a:hover,
.et_pb_bg_layout_light .et_pb_promo_button,
.et_pb_bg_layout_light.et_pb_module.et_pb_button,
.et_pb_bg_layout_light .et_pb_more_button,
.et_pb_filterable_portfolio .et_pb_portfolio_filters li a.active,
.et_pb_filterable_portfolio .et_pb_portofolio_pagination ul li a.active,
.et_pb_gallery .et_pb_gallery_pagination ul li a.active,
.et_pb_contact_submit, .et_pb_bg_layout_light .et_pb_newsletter_button,
.woocommerce-page #content input.read-more-button:hover .et_pb_widget li a:hover,
.woocommerce-page #content input.button:hover .et_pb_widget.woocommerce .product_list_widget li a:hover,
.woocommerce-page #content input.post-nav .nav-links .button:hover .et_pb_widget li a:hover{
	color: #000;
}
